.search {
    background: #fd6f14; padding: 40px 0 47px;
    @include b(767) {
        padding: 18px 0 30px;
    }
    &__wr {
        max-width: 650px;
        margin: 0 auto;
    }
    &__header {
        font-size: 36px;
        font-weight: 500;
        color: #fff;
        margin: 0 0 27px;
        text-align: center;

        @include b(767) {
            font-size: 18px;
            padding-top: 0;
            margin-bottom: 10px;
        }
    }
    &__form {
        @include b(767) {
            display: flex; justify-content: space-between; flex-direction: row; padding-left: 25px; padding-right: 25px;
        }
        &:after {content: ' '; display: block; clear: both;}
        &-input {
            width: 511px; border: 0; border-bottom: 2px solid #fff !important; height: 45px; 
            padding-left: 12px; font: 300 16px/1 "Museo-Sans", Verdana; background: none !important; outline: none !important; color: #fff; float: left;
            -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius:0 !important;
            @include b(767) {
                height: 30px; font-size: 12px; padding-left: 0; border-bottom-width: 1px !important;
            }
        }
        ::-webkit-input-placeholder {color: #fff; opacity: 0.5;}
        ::-moz-placeholder {color: #fff; opacity: 0.5;}
        :-ms-input-placeholder {color: #fff; opacity: 0.5;}
        :-moz-placeholder {color: #fff; opacity: 0.5;}
        &-submit {
            display: block; float:right; width: 121px; height: 48px; padding: 0; text-align: center; background: #fff; text-transform: uppercase; 
            font: 500 16px/1 "Museo-Sans", Verdana; color: #4d575e; border: 0; outline: none;
            -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px;
            &:hover {background: #4d575e; color: #fff;}
            @include b(767) {
                width: auto; height: 30px; padding-left: 20px; padding-right: 20px; font-size: 12px; color: #fd6f14;
            }
        }
    }
}

.search-lnk {
    margin: 0 0 74px;
    @include b(767) {
        margin-bottom: 21px;
    }
    &:after {content: ' '; display: block; clear: both;}
    &__left {float: left; width: 448px; padding-right: 48px;
        @include b(991) {
            width: 415px;
        }
        @include b(767) {
            float: none; width: auto; padding: 0 0 20px;
        }
    }
    &__right {float: left; width: 350px;
        @include b(991) {
            width: 323px;
        }
        @include b(767) {
            width: 100%; float: none;
        }
    }
}

.video-lnk {
    background: #fd6f14 url(../img/video-bg.png) 100% 100% no-repeat; position: relative; color: #fff !important; height: 340px; display: block;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    @include b(767) {
        width: 100%; background-size: auto 100px; height: 230px;
    }
    span {display: block;}
    &__header {
        padding: 36px 5px 0 40px; font-size: 24px; font-weight: 500;
        @include b(991) {
            padding-left: 20px;
        }
        @include b(767) {
            font-size: 18px; padding-top: 18px; 
        }
    }
    &__icon {
        position: absolute; background: url(../img/play.png) 0 0 no-repeat; width: 53px; height: 64px; top: calc(50% - 32px); left: calc(50% - 26px);
    }
    &__btn {
        position: absolute; left: 41px; bottom: 35px; height: 48px; padding: 0 30px; color: #fd6f14; background: #fff; font-size: 16px; line-height: 48px; font-weight: 500;
        -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; text-transform: uppercase;
        @include b(991) {
            left: 20px;
        }
        @include b(767) {
            height: 30px; font-size: 12px; line-height: 30px; padding: 0 20px; bottom: 20px;
        }
    }
}

.lnk-btn {border: 1px solid #ccc; text-align: center; margin: 0 0 17px; height: 102px; font-weight: 500; display: flex; flex-direction: row; justify-content: center; align-items: center;
    font-size: 16px; color: #333f48; text-decoration: none; text-transform: uppercase;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    @include b(767) {
        height: 50px; line-height: 48px; font-size: 12px; margin-bottom: 8px;
    }
}