<div class="search-lnk">
    <div class="search-lnk__left">
        <a href="" class="video-lnk">
            <span class="video-lnk__header">Обучающие видеоролики</span>
            <span class="video-lnk__icon"></span>
            <span class="video-lnk__btn">Посмотреть</span>
        </a>
    </div>
    <div class="search-lnk__right">
        <a href="" class="lnk-btn">Справка</a>
        <a href="" class="lnk-btn">Гарантия и ремонт</a>
        <a href="" class="lnk-btn">Сообщения об ошибках</a>
    </div>
</div>