<div class="search">
    <div class="search__wr">
        <div class="search__header">Мы поможем</div>
        <form action="">
            <div class="search__form">
                <input type="text" class="search__form-input" placeholder="Как подключить Эвотор к 1С">
                <input type="submit" class="search__form-submit" value="Найти">
            </div>
        </form>
    </div>
</div>