//----------------------------------------------------//
// Garniture                                          //
//----------------------------------------------------//

//	 Index

// - PT Sans

  // Garniture => PT Sans
//--------------------------------------------------// 

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans/bold/ptsansbold.eot');
    src: url('../fonts/ptsans/bold/ptsansbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans/bold/ptsansbold.woff') format('woff'),
         url('../fonts/ptsans/bold/ptsansbold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/*ptsans regular*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans/regular/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ptsans/regular/PTSans-Regular.woff') format('woff'), 
  url('../fonts/ptsans/regular/PTSans-Regular.ttf')  format('truetype'), 
  url('../fonts/ptsans/regular/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


/*museo*/
@font-face {
  font-family: 'Museo-Sans';
  src: url('../fonts/museosanscyr/100/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/museosanscyr/100/MuseoSansCyrl-100.woff') format('woff'), 
  url('../fonts/museosanscyr/100/MuseoSansCyrl-100.ttf')  format('truetype'), 
  url('../fonts/museosanscyr/100/MuseoSansCyrl-100.svg#MuseoSansCyrl') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url('../fonts/museosanscyr/300/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/museosanscyr/300/MuseoSansCyrl-300.woff') format('woff'), 
  url('../fonts/museosanscyr/300/MuseoSansCyrl-300.ttf')  format('truetype'), 
  url('../fonts/museosanscyr/300/MuseoSansCyrl-300.svg#MuseoSansCyrl') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url('../fonts/museosanscyr/500/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/museosanscyr/500/MuseoSansCyrl-500.woff') format('woff'), 
  url('../fonts/museosanscyr/500/MuseoSansCyrl-500.ttf')  format('truetype'), 
  url('../fonts/museosanscyr/500/MuseoSansCyrl-500.svg#MuseoSansCyrl') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url('../fonts/museosanscyr/700/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/museosanscyr/700/MuseoSansCyrl-700.woff') format('woff'), 
  url('../fonts/museosanscyr/700/MuseoSansCyrl-700.ttf')  format('truetype'), 
  url('../fonts/museosanscyr/700/MuseoSansCyrl-700.svg#MuseoSansCyrl') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url('../fonts/museosanscyr/900/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/museosanscyr/900/MuseoSansCyrl-900.woff') format('woff'), 
  url('../fonts/museosanscyr/900/MuseoSansCyrl-900.ttf')  format('truetype'), 
  url('../fonts/museosanscyr/900/MuseoSansCyrl-900.svg#MuseoSansCyrl') format('svg');
  font-weight: 900;
  font-style: normal;
}