.icon {
	&-info {
		width: 21px;
		height: 21px;
	}
	&-user {
		width: 24px;
		height: 24px;
	}
	&-graph {
		@include sprite($graph);
	}
	&-checks {
		@include sprite($check);
	}
	&-home {
		@include sprite($home);
	}
	&-goods {
		@include sprite($goods);
	}
	&-terminals {
		@include sprite($terminals);
	}
	&-employees {
		@include sprite($employees);
	}
	&-settings {
		@include sprite($settings);
	}
    &-calendar {
        @include sprite($calendar);
    }
    &-marker-lg {
        @include sprite($marker-lg);
    }
    &-clock {
        @include sprite($clock);
    }
    &-calendar--xs { 
        @include sprite($calendar-xs);
    }
    &-marker-lg--xs {
        @include sprite($marker-lg-xs);
    }
    &-clock--xs {
        @include sprite($clock-xs);
	}
	&-support {
        @include sprite($support);
	}
	&-service-center {
        @include sprite($service-center);
	}
	&-online-consultant {
        @include sprite($online-consultant);
	}
}