//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
	box-sizing: border-box;
}
a:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}

body {
	height: 100%;
	min-width: 320px;
	&.no-mob {
		min-width: 1200px;
	}
}

.container {
	//padding: 0 15px;
	width: 1150px;
	max-width: 100%;
	margin: 0 auto; 
    position: relative;
	@include clearfix;
    
    @include b(767) {
        padding-right: 25px;
        padding-left: 25px;
    }
	
	&--sm {
		width: 730px;
	}
}

$footerHeight: 442px; 
 
.wrapper {
	min-height: 100%;
	
}


.content {
	&__cols {
		padding: 0 0 0 230px;
		@include clearfix;
	}
	&__aside {
		float: left;
		width: 230px;
		margin: 0 0 0 -230px;
	}
	&__main {
		float: left;
		width: 100%;
		padding: 45px 0 0 30px;
	}
    &__page {
        padding: 80px 0 30px;
        @include b(767) {
            padding: 30px 0 20px;
        }
    }
    &__title {
        padding: 0 0 40px;
    }
}

.icon-calendar {background: url(../img/icon-1.png) 0 0 no-repeat !important; background-size: contain  !important;}
.icon-marker-lg {background: url(../img/icon-2.png) 0 5px no-repeat !important; background-size: contain  !important;}
.icon-clock {background: url(../img/icon-3.png) 0 17px no-repeat !important; background-size: contain  !important;}

//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//


//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//
.footer {
	
}