// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-xs-name: 'calendar-xs';
$calendar-xs-x: 0px;
$calendar-xs-y: 192px;
$calendar-xs-offset-x: 0px;
$calendar-xs-offset-y: -192px;
$calendar-xs-width: 35px;
$calendar-xs-height: 36px;
$calendar-xs-total-width: 423px;
$calendar-xs-total-height: 228px;
$calendar-xs-image: '../img/sprite.png';
$calendar-xs: (0px, 192px, 0px, -192px, 35px, 36px, 423px, 228px, '../img/sprite.png', 'calendar-xs', );
$calendar-name: 'calendar';
$calendar-x: 78px;
$calendar-y: 107px;
$calendar-offset-x: -78px;
$calendar-offset-y: -107px;
$calendar-width: 68px;
$calendar-height: 70px;
$calendar-total-width: 423px;
$calendar-total-height: 228px;
$calendar-image: '../img/sprite.png';
$calendar: (78px, 107px, -78px, -107px, 68px, 70px, 423px, 228px, '../img/sprite.png', 'calendar', );
$check-name: 'check';
$check-x: 245px;
$check-y: 146px;
$check-offset-x: -245px;
$check-offset-y: -146px;
$check-width: 14px;
$check-height: 18px;
$check-total-width: 423px;
$check-total-height: 228px;
$check-image: '../img/sprite.png';
$check: (245px, 146px, -245px, -146px, 14px, 18px, 423px, 228px, '../img/sprite.png', 'check', );
$clock-xs-name: 'clock-xs';
$clock-xs-x: 371px;
$clock-xs-y: 57px;
$clock-xs-offset-x: -371px;
$clock-xs-offset-y: -57px;
$clock-xs-width: 37px;
$clock-xs-height: 41px;
$clock-xs-total-width: 423px;
$clock-xs-total-height: 228px;
$clock-xs-image: '../img/sprite.png';
$clock-xs: (371px, 57px, -371px, -57px, 37px, 41px, 423px, 228px, '../img/sprite.png', 'clock-xs', );
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 107px;
$clock-offset-x: 0px;
$clock-offset-y: -107px;
$clock-width: 73px;
$clock-height: 80px;
$clock-total-width: 423px;
$clock-total-height: 228px;
$clock-image: '../img/sprite.png';
$clock: (0px, 107px, 0px, -107px, 73px, 80px, 423px, 228px, '../img/sprite.png', 'clock', );
$employees-name: 'employees';
$employees-x: 352px;
$employees-y: 107px;
$employees-offset-x: -352px;
$employees-offset-y: -107px;
$employees-width: 17px;
$employees-height: 19px;
$employees-total-width: 423px;
$employees-total-height: 228px;
$employees-image: '../img/sprite.png';
$employees: (352px, 107px, -352px, -107px, 17px, 19px, 423px, 228px, '../img/sprite.png', 'employees', );
$goods-name: 'goods';
$goods-x: 225px;
$goods-y: 146px;
$goods-offset-x: -225px;
$goods-offset-y: -146px;
$goods-width: 15px;
$goods-height: 18px;
$goods-total-width: 423px;
$goods-total-height: 228px;
$goods-image: '../img/sprite.png';
$goods: (225px, 146px, -225px, -146px, 15px, 18px, 423px, 228px, '../img/sprite.png', 'goods', );
$graph-name: 'graph';
$graph-x: 304px;
$graph-y: 107px;
$graph-offset-x: -304px;
$graph-offset-y: -107px;
$graph-width: 19px;
$graph-height: 19px;
$graph-total-width: 423px;
$graph-total-height: 228px;
$graph-image: '../img/sprite.png';
$graph: (304px, 107px, -304px, -107px, 19px, 19px, 423px, 228px, '../img/sprite.png', 'graph', );
$home-name: 'home';
$home-x: 374px;
$home-y: 107px;
$home-offset-x: -374px;
$home-offset-y: -107px;
$home-width: 19px;
$home-height: 16px;
$home-total-width: 423px;
$home-total-height: 228px;
$home-image: '../img/sprite.png';
$home: (374px, 107px, -374px, -107px, 19px, 16px, 423px, 228px, '../img/sprite.png', 'home', );
$marker-lg-xs-name: 'marker-lg-xs';
$marker-lg-xs-x: 80px;
$marker-lg-xs-y: 192px;
$marker-lg-xs-offset-x: -80px;
$marker-lg-xs-offset-y: -192px;
$marker-lg-xs-width: 25px;
$marker-lg-xs-height: 35px;
$marker-lg-xs-total-width: 423px;
$marker-lg-xs-total-height: 228px;
$marker-lg-xs-image: '../img/sprite.png';
$marker-lg-xs: (80px, 192px, -80px, -192px, 25px, 35px, 423px, 228px, '../img/sprite.png', 'marker-lg-xs', );
$marker-lg-name: 'marker-lg';
$marker-lg-x: 151px;
$marker-lg-y: 107px;
$marker-lg-offset-x: -151px;
$marker-lg-offset-y: -107px;
$marker-lg-width: 49px;
$marker-lg-height: 69px;
$marker-lg-total-width: 423px;
$marker-lg-total-height: 228px;
$marker-lg-image: '../img/sprite.png';
$marker-lg: (151px, 107px, -151px, -107px, 49px, 69px, 423px, 228px, '../img/sprite.png', 'marker-lg', );
$online-consultant-name: 'online-consultant';
$online-consultant-x: 40px;
$online-consultant-y: 192px;
$online-consultant-offset-x: -40px;
$online-consultant-offset-y: -192px;
$online-consultant-width: 35px;
$online-consultant-height: 36px;
$online-consultant-total-width: 423px;
$online-consultant-total-height: 228px;
$online-consultant-image: '../img/sprite.png';
$online-consultant: (40px, 192px, -40px, -192px, 35px, 36px, 423px, 228px, '../img/sprite.png', 'online-consultant', );
$service-center-name: 'service-center';
$service-center-x: 205px;
$service-center-y: 107px;
$service-center-offset-x: -205px;
$service-center-offset-y: -107px;
$service-center-width: 55px;
$service-center-height: 34px;
$service-center-total-width: 423px;
$service-center-total-height: 228px;
$service-center-image: '../img/sprite.png';
$service-center: (205px, 107px, -205px, -107px, 55px, 34px, 423px, 228px, '../img/sprite.png', 'service-center', );
$settings-name: 'settings';
$settings-x: 328px;
$settings-y: 107px;
$settings-offset-x: -328px;
$settings-offset-y: -107px;
$settings-width: 19px;
$settings-height: 19px;
$settings-total-width: 423px;
$settings-total-height: 228px;
$settings-image: '../img/sprite.png';
$settings: (328px, 107px, -328px, -107px, 19px, 19px, 423px, 228px, '../img/sprite.png', 'settings', );
$social-mob-name: 'social-mob';
$social-mob-x: 0px;
$social-mob-y: 0px;
$social-mob-offset-x: 0px;
$social-mob-offset-y: 0px;
$social-mob-width: 423px;
$social-mob-height: 52px;
$social-mob-total-width: 423px;
$social-mob-total-height: 228px;
$social-mob-image: '../img/sprite.png';
$social-mob: (0px, 0px, 0px, 0px, 423px, 52px, 423px, 228px, '../img/sprite.png', 'social-mob', );
$social-name: 'social';
$social-x: 0px;
$social-y: 57px;
$social-offset-x: 0px;
$social-offset-y: -57px;
$social-width: 366px;
$social-height: 45px;
$social-total-width: 423px;
$social-total-height: 228px;
$social-image: '../img/sprite.png';
$social: (0px, 57px, 0px, -57px, 366px, 45px, 423px, 228px, '../img/sprite.png', 'social', );
$support-name: 'support';
$support-x: 265px;
$support-y: 107px;
$support-offset-x: -265px;
$support-offset-y: -107px;
$support-width: 34px;
$support-height: 32px;
$support-total-width: 423px;
$support-total-height: 228px;
$support-image: '../img/sprite.png';
$support: (265px, 107px, -265px, -107px, 34px, 32px, 423px, 228px, '../img/sprite.png', 'support', );
$terminals-name: 'terminals';
$terminals-x: 205px;
$terminals-y: 146px;
$terminals-offset-x: -205px;
$terminals-offset-y: -146px;
$terminals-width: 15px;
$terminals-height: 19px;
$terminals-total-width: 423px;
$terminals-total-height: 228px;
$terminals-image: '../img/sprite.png';
$terminals: (205px, 146px, -205px, -146px, 15px, 19px, 423px, 228px, '../img/sprite.png', 'terminals', );
$spritesheet-width: 423px;
$spritesheet-height: 228px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($calendar-xs, $calendar, $check, $clock-xs, $clock, $employees, $goods, $graph, $home, $marker-lg-xs, $marker-lg, $online-consultant, $service-center, $settings, $social-mob, $social, $support, $terminals, );
$spritesheet: (423px, 228px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
