//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
  background: #fff;
  color: $mainFontColor;
  font-family: $mainFont, $fixFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainFontHeight;
  @include b(767) {
      font-size: 12px;
      line-height: 20px;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $mainFontColor;
	font-family: $mainFont, $fixFont;
	margin: 0;
	padding: 0;
}
h1, .h1 {
	font-size: 36px;
	line-height: 48px;
    letter-spacing: -0.3px;
    @include b(991) {
        font-size: 30px;
        line-height: 40px;
     }
    @include b(767) {
        font-size: 18px;
        line-height: 24px;
        //letter-spacing: 0;
    }
}
h2, .h2 {
	font-size: 30px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 27px;
	line-height: 35px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 21px;
    color: $black;
}
h5, .h5 {
	font-size: 18px;
	line-height: 24px;
    color: $deep-blue;
}
h6, .h6 {
	font-size: 16px;
	line-height: 21px;
}

p {
	padding: 0 0 $mainFontHeight;  
	margin: 0;
}


hr {
	overflow: hidden;
	height: 1px;
	background: #e9e9e9;
	border: 0;
	margin: 32px 0;
}

q,
blockquote {
	text-align: center;
	display: block;
	font-style: italic;
}

strong,
b {
	font-weight: 700;
}

a {	
	color: $blue;
	transition: all .3s ease-in-out;
	text-decoration: none;
	&.button {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
a:hover {
	text-decoration: none; 
	opacity: .8;
}
a:active {}
a:visited {}

[class*="icon-"] {
	display: inline-block;
	vertical-align: top;
}

.content {
	a {
		&:hover {
		}
	}
}

img[style*="float: left"],
img[style*="float:left"],
img[align="left"] {
	margin: 0 20px 5px 0;
}

img[style*="float: right"],
img[style*="float:right"],
img[align="right"] {
	margin: 0 0 5px 20px;
}

%ul {
    list-style-type: none;
    padding: 0 0 15px;
    li {
        font-size: 16px;
        line-height: 18px;
        padding: 0 0 10px 13px;
        position: relative;
        @include b(767) {
           font-size: 12px;
           line-height: 15px;
            padding: 0 0 7px 10px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left:0;
            background: $mainFontColor;
            width:5px;
            height: 5px;
            border-radius: 50%;
            @include b(767) {
                top: 2px;
                width:3px;
                height: 3px;
            }
        }
    }
}


ul {
	/*li {
		&:before {
			content: '';
			display: inline-block;
			width: 5px;
			height: 5px;
			background: red;
			margin: 0 10px 0 0;
		}
	}*/
}

.static-content {
	//.content__main {
		ul {
			@extend %ul;
		}
	//}
    a {
        color: $blue;
        text-decoration: underline;
        &:hover,&:active,&:focus {
            text-decoration: none;
        }
    }
}

.default-list {
	@extend %ul;
}

%ol {
	list-style-type: decimal;
	list-style-position: inside;
	counter-reset: item;
	li {
		display: block;
		font-size: 14px;
        line-height: 18px;
        padding: 0 0 18px 20px;
        position: relative;
        @include b(767) {
            padding: 0 0 16px 13px;
            font-size: 12px;
        }
		&:before { 
			content: counters(item, ".") ". ";
			counter-increment: item;
			display: inline;
			vertical-align: top;
			font-weight: 700;
            position: absolute;
            left:0;
		}
	}
}

ol {
    @extend %ol;
}

.upper {
	text-transform: uppercase;
}

.note {
    padding: 19px 17px;
    border:1px solid $light-gray2;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    @include b(767) {
        padding: 9px 6px;
        line-height: 18px;
        border-radius: 4px;
    }
}

ol, ul, li {
	padding: 0;
	margin: 0;
}