//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:				'Museo-Sans'; 
$mainFontSize:		14px;
$mainFontHeight:	24px;
$mainFontWeight:	300;
$mainFontColor:		#333f48;

$secondFont:				'Verdana'; 
$secondFontSize:		14px;
$secondFontHeight:	22px;
$secondFontWeign:		400;
$secondFontColor:		#525252;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Arial';

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;

$main: red;

$black: #000;
$white: #fff;

$deep-blue: #333f48;
$gray-blue: #6c7f8d;
$gray-blue2: #abaeb1;

$orange: #fd7822;

$light-gray: #e2e5e8;
$light-gray2: #cccfd1;

$gray50: #999fa3;


$blue: #5298b4;
$blue2: #488dfb;
$blue3: #01a1e0;

$orange: #fb7822;
