<div class="prod-card js-prod-card">
	<a href="#prod-popup" data-fancybox class="catalog-slider-card__info">
		<svg class="icon-info">
			<use xlink:href="#info"></use>
		</svg>
	</a>
	<span class="prod-card__title js-prod-title">@@title</span>
	<div class="prod-card__inner">
		@@if(context.list != "true") {
		<img src="pic/prod/prod-@@img.png" alt="">
		}
		@@if(context.list == "true") {
		<ul class="prod-card__list">
			<li class="prod-card__list-item">Регистрация в налоговой</li>
			<li class="prod-card__list-item">Регистрация в ОФД</li>
			<li class="prod-card__list-item">Договор с ОФД</li>
			<li class="prod-card__list-item">Установка, настройка и обучение</li>
		</ul>
		}
	</div>
	<div class="prod-card__bottom">
		<a href="#" class="prod-card__btn js-add-cart"></a>
		<span class="prod-card__price"><span class="js-prod-price">26 000</span> руб.</span>
	</div>
</div>