<div class="catalog-block">
	<span class="catalog-block__title">@@title</span>
	<span class="catalog-block__subtitle">@@subtitle</span>
	<div class="catalog-block__list">
		<div class="row">
			@@for(var i = 0; i < arr.length; i++) {
			<div class="col-xs-6 col-sm-4">
				@@include('src/modules/catalog-block/card.html', {
					"title": "`+arr[i].title+`",
					"img": "`+arr[i].img+`",
					"no_img": "`+arr[i].no_img+`",
					"list": "`+arr[i].list+`"
				})
			</div>
			}
		</div>
	</div>
</div>
