.catalog-block {
	padding: 0 0 30px 0;
	&__title {
		display: block;
		font-size: 36px;
		line-height: 48px;
		font-weight: 500;
		padding: 0 0 10px 0;
		@include b(mobile) {
			font-size: 18px;
			line-height: 24px;
			padding: 0 0 5px 0;
		}
	}
	&__subtitle {
		display: block;
		font-size: 14px;
		line-height: 24px;
		padding: 0 0 30px 0;
		@include b(mobile) {
			font-size: 12px;
			line-height: 18px;
			padding: 0 0 15px 0;
		}
	}
	&__list {
		.row {
			margin: 0 -25px;
			@include b(mobile) {
				margin: 0 -12px;
			}
		}
		[class*="col-"] {
			padding: 0 25px;
			@include b(mobile) {
				padding: 0 12px;
			}
		}
	}
}

.prod-card {
	background: $white;
	border-radius: 5px;
	box-shadow: 0 21px 64px rgba($mainFontColor, .4);
	padding: 15px 20px 56px;
	position: relative;
	height: 250px;
	margin: 0 0 40px 0;
	transition: all .2s ease;
	display: flex;
	flex-direction: column;
	@include b(mobile) {
		box-shadow: 0 10px 32px rgba($mainFontColor, .4);
		padding: 7px 10px 28px;
		height: 145px;
		margin: 0 0 25px 0;
	}
	&.in-basket {
		background: #e1e4e6;
		.prod-card {
			&__btn {
				background: $orange;
				border-color: $orange;
				&:before {
					opacity: 0;
					
				}
				&:after {
					opacity: 1;
					width: 12px;
					height: 18px;
					margin: -12px 0 0 -6px;
					@include b(mobile) {
						width: 6px;
						height: 9px;
						margin: -6px 0 0 -3px;
					}
				}
			}
		}
	}
	&__bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 10px 10px 10px 20px;
		@include clearfix;
		@include b(mobile) {
			padding: 5px 5px 5px 10px;
		}
		
	}
	&__price {
		display: block;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		padding: 6px 0;
		@include b(mobile) {
			font-size: 12px;
			line-height: 14px;
			padding: 2px 0;
		}
	}
	&__btn {
		float: right;
		display: block;
		width: 36px;
		height: 36px;
		border-radius: 3px;
		border: 1px solid $mainFontColor;
		position: relative;
		text-align: center;
		padding: 17px 0;
		&:before {
			content: '+';
			display: block;
			font-size: 18px;
			line-height: 0;
			color: $mainFontColor;
			font-weight: 500;
			transition: all .2s ease;
		}
		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 18px;
			width: 4px;
			height: 4px;
			border-bottom: 4px solid $white;
			border-right: 4px solid $white;
			transform: rotate(45deg);
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -2px 0 0 -2px;
			opacity: 0;
			transition: all .2s ease;
		}
		@include b(mobile) {
			width: 18px;
			height: 18px;
			padding: 8px 0;
			&:before {
				font-size: 9px;
			}
			&:after {
				
				border-width: 2px;
				
			}
		}
	} 
	&__title {
		display: block;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
        padding: 0 15px 0 0;
		@include b(mobile) {
			font-size: 9px;
			line-height: 12px;
		}
	}
	&__inner {
		font-size: 0;
		text-align: center;
		line-height: 0;
		margin: auto;
		img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
			@include b(mobile) {
				max-width: 70%;
			max-height: 70%;
			}
		}
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: left;
		&-item {
			padding: 0 0 5px 13px;
			font-size: 14px;
			line-height: 18px;
			@include clearfix;
			@include b(mobile) {
				font-size: 9px;
				line-height: 12px;
				padding: 0 0 2px 6px;
			}
			&:before {
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: $mainFontColor;
				float: left;
				margin: 6px 0 0 -13px;
				@include b(mobile) {
					width: 3px;
					height: 3px;
					margin: 3px 0 0 -6px;
				}
			}
		}
	}
}

.cart-form-popup {
	width: 380px;
	max-width: 100%;
	padding: 25px 40px 30px;
	display: none;
	border-radius: 5px;
	.fancybox-close-small {
		width: 30px;
		height: 30px;
		top: 6px;;
		right: 6px;
		&:after, &:before {
			display: block;
			content: '';
			outline: none!important;
			width: 12px;
			height: 2px;
			background: #999fa3;
			opacity: 1;
			border-radius: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1px 0 0 -6px;
			
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
	&__title {
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		padding: 0 0 15px 0;
	}
	&__inputbox {
		padding: 0 0 15px 0;
		&-label {
			display: block;
			font-size: 12px;
			line-height: 18px;
			color: rgba($mainFontColor, .7);
		}
		&-input {
			border-color: rgba($gray50, .5);
		}
	}
	&__btn-box {
		font-size: 0;
		line-height: 0;
		padding: 15px 0 0 0;
		text-align: justify;
		.btn {
			display: inline-block;
			width: auto;
			font-size: 14px;
			&--md {
				font-weight: 500;
			}
		}
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			
		}
	}
}

.prod-popup {
	width: 300px;
	max-width: 100%;
	background: $white;
	padding: 30px 35px 15px;
	border-radius: 5px;
	text-align: center;
	display: none;
	position: relative;
	.fancybox-close-small {
		width: 30px;
		height: 30px;
		top: 6px;;
		right: 6px;
		&:after, &:before {
			display: block;
			content: '';
			outline: none!important;
			width: 12px;
			height: 2px;
			background: #999fa3;
			opacity: 1;
			border-radius: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1px 0 0 -6px;
			
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
	&__title {
		display: block;
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
		text-align: center;
		padding: 0 0 18px;
	}
	&__list {
		@include clearfix;
		font-size: 12px;
		line-height: 18px;
		padding: 0 0 20px 0;
		margin: 0;
		font-weight: 500;
		text-align: left;
		&-term {
			float: left;
			width: 50%;
			clear: both;
			color: rgba($mainFontColor, .5);
			padding: 0;
			margin: 0;
		}
		&-descr {
			float: left;
			width: 50%;
			padding: 0;
			margin: 0;
		}
	}
	&__close {
		font-size: 14px;
		color: rgba($mainFontColor, .5);
	}
}