<div class="cart-form-popup" id="cart-form">
	<form action="#">
		<span class="cart-form-popup__title">Покупка</span>
		<div class="cart-form-popup__inputbox">
			<span class="cart-form-popup__inputbox-label">Адрес доставки терминала</span>
			<input type="text" class="cart-form-popup__inputbox-input">
		</div>
		<div class="cart-form-popup__inputbox">
			<span class="cart-form-popup__inputbox-label">E-mail</span>
			<input type="email" class="cart-form-popup__inputbox-input">
		</div>
		<div class="cart-form-popup__inputbox">
			<span class="cart-form-popup__inputbox-label">Контактный номер телефона</span>
			<input type="text" class="cart-form-popup__inputbox-input">
		</div>
		<div class="cart-form-popup__inputbox">
			<span class="cart-form-popup__inputbox-label">Название организации или ИНН</span>
			<input type="text" class="cart-form-popup__inputbox-input">
		</div>
		<div class="cart-form-popup__btn-box">
			<a href="#" class="btn btn-gray">Отмена</a>
			<button type="submit" class="btn btn--md">Отправить</button>
		</div>
	</form>
</div>