<div class="prod-popup" id="prod-popup">
	<span class="prod-popup__title">Эвотор 7.3</span>
	<dl class="prod-popup__list">
		<dl class="prod-popup__list-term">Процессор</dl>
		<dd class="prod-popup__list-descr">Mediatek MT8321</dd>
		<dl class="prod-popup__list-term">Память</dl>
		<dd class="prod-popup__list-descr">1GB + 8GB</dd>
		<dl class="prod-popup__list-term">Дисплей</dl>
		<dd class="prod-popup__list-descr">7“</dd>
		<dl class="prod-popup__list-term">Навигация</dl>
		<dd class="prod-popup__list-descr">GPS</dd>
		<dl class="prod-popup__list-term">Камера</dl>
		<dd class="prod-popup__list-descr">5 Mpx</dd>
		<dl class="prod-popup__list-term">Источние питания</dl>
		<dd class="prod-popup__list-descr">USB type B, 5V, 3A</dd>
		<dl class="prod-popup__list-term">Аккумулятор</dl>
		<dd class="prod-popup__list-descr">8-14 автономной работы</dd>
		<dl class="prod-popup__list-term">USB Host</dl>
		<dd class="prod-popup__list-descr">5xUSB-A, USB2.0</dd>
		<dl class="prod-popup__list-term">Ethernet</dl> 
		<dd class="prod-popup__list-descr">Ethernet</dd>
		<dl class="prod-popup__list-term">Доп. интерфейсы</dl>
		<dd class="prod-popup__list-descr">Денежный ящик, 2 COM порта</dd>
		<dl class="prod-popup__list-term">Скорость печати</dl>
		<dd class="prod-popup__list-descr">До 90мм/с</dd>
		<dl class="prod-popup__list-term">Ресурс головки</dl>
		<dd class="prod-popup__list-descr">100 км</dd>
		<dl class="prod-popup__list-term">Резак</dl>
		<dd class="prod-popup__list-descr">2 стальных гребенки</dd>
	</dl>
	<a href="#" class="prod-popup__close js-popup-close">Закрыть</a>
</div>