.order {
    margin: 48px auto 50px;
    width:700px;
    @include b(767) {
        width: 100%;
        margin: 20px auto 25px;
    }
    &__title {
        padding: 0 0 25px;
        @include b(767) {
            text-align: center;
            //padding: 0 0 5px;
        } 
    }
    &__info {
        background: $white;
        box-shadow: 0 21px 64px rgba($deep-blue, 0.2);
        padding: 10px 40px 25px;
        position: relative;
        border-radius: 8px;
        @include b(767) {
           box-shadow: none;
           padding: 0 0 15px;
        }
    }
    &__table {
        width: 100%;
        margin: 0 0 23px;
        &-td {
            padding: 17px 10px;
            text-align: center;
            vertical-align: middle;
            border-bottom: 1px solid $light-gray;
            a {
                color: $mainFontColor!important;
            }
            &--img {
                height: 90px;
                width: 90px;
                padding: 17px 0;
                img {
                    @include b(767) {
                      max-height: 38px;
                      max-width: 38px;
                    }  
                }
                @include b(767) {
                   height: 38px;
                   width: 38px;
                   padding: 12px 0 11px 0 !important;
                   vertical-align: top;
                }
            } 
            &--title {
                text-align: left;
                width:275px;
                @include b(767) {
                    width:auto;
                    line-height: 15px;
                    vertical-align: top;
                    padding: 12px 5px 15px 10px!important;
                }
            } 
            &--spinner-price {
                text-align: right;
                padding: 17px 0;
                @include b(767) {
                   min-width: 95px;
                   padding: 8px 0 11px!important;
                }
            } 
            @include b(767) {
               padding: 8px 5px 11px;
            }
        }
        &-spinner {
            display: inline-block; 
            vertical-align: middle;
            text-align: left;
            padding: 0;
            &--fixed {
                font-weight: 700;
                @include b(767) {
                    width: auto!important;
                }
            }
            @include b(767) {
                padding: 0 10px 0 0;
                width: 85px; 
            }
        }
        &-price {
            width: 130px;
            font-weight: 700;
            display: inline-block; 
            vertical-align: middle;
            padding: 0;
            @include b(767) {
                width: auto;
                padding: 0 3px 0 0;
            }
        }
        @include b(767) {
            margin: 0 -5px 15px;
            width: calc(100% + 10px);
        }
    }
    &__total {
        text-align: right;
        font-weight: 300;
        padding: 0 0 37px;
        &-price {
            font-weight: 500;
            сolor: $orange;
        }
        @include b(767) {
           font-size: 15px;
           line-height: 18px;
           text-align: center;
           padding: 0 0 12px;
        }
    }
    &__submit {
        text-align: right;
        margin: 0 -10px 0 0;
        @include b(767) {
           text-align: center;
        }
    }
    &__check {
        display: inline-block; 
        vertical-align: baseline;
        max-width: 160px;
        margin: 0 5px 0 0;
        text-align: left;
        label {
            font-weight: 300;
        }
        a {
            color: $blue!important;
            text-decoration: underline;
        }
        @include b(767) {
            max-width: none;
            width: auto;
            font-size: 12px;
            line-height: 12px;
            margin: 0 5px 20px;
        }
    }
    &__btn {
        display: inline-block; 
        vertical-align: middle;
        width: auto;
        padding: 5px 26px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.6px;
        @include b(767) {
           padding: 8px 22px;
        }
    }
    
    
    &--step2 {
        .order__info {
            display: table;
            width: 100%;
            @include b(767) {
                display: block;
                text-align: center;
            }
        }
    }
    
    &--step3 {
        .order__info {
            padding: 10px 40px 35px;
            @include b(767) {
                padding: 0 0 15px;
            }
        }
        .order__table {
            margin: 0 0 30px;
             @include b(767) {
               margin: 0 0 15px;  
            }
        }
        .order__table-td--spinner-price {
            min-width: 120px;
        }
    }
    
    &__payment {
       
        font-size: 0;
        padding: 0;
        
        &-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 625px;
            height: 414px;
            @include b(767) {
                display: block;
                height: auto;
                width: 100%;
                padding: 0 40px;
                margin: -8px 0 20px 0;
            }
        }
        &-item {
            display: inline-block;
            vertical-align: top;
            width: calc(50% - 10px);
            &:nth-child(odd) {
                margin: 0 20px 0 0;
                @include b(767) {
                    margin: 0 0 8px;
                }
            }  
            &-wrapper {
                display: table-cell;
                vertical-align: bottom;
                text-align: center;
            }
            input[type="radio"]:checked + label {
                background: $light-gray2;
                border: 1px solid #999fa3;
            }
            @include b(767) {
                margin: 0 0 8px;
                width: 100%;
            }
        }
        &-label {
            border: 1px solid $light-gray2;
            border-radius: 5px;
            display: table!important;
            width:100%!important;
            padding: 10px 0 5px !important;
            height: 130px;
            box-sizing: border-box;
            &:hover {
                
            }
            &:before, &:after {
                display: none;
            }
            @include b(767) {
                border-radius: 4px;
                min-height: 105px;
            }
        }
        
        &-img {
            margin: 0 0 15px;
            @include b(767) {
               max-height: 25px; 
               max-width: 40%; 
            }
        }
        &-title {
           font-size: 12px;
           line-height: 28px;
            display: block;
            font-weight: 300;
        }
        
    }
    
    .step-back-btn {
        position: absolute;
        bottom: 25px;
        left: 36px;
        display: inline-block;
        width: auto;
        @include b(767) {
            position: relative;
            bottom: auto;
            left: auto;
        }
    }
    
    &__details {
        width:100%;
        margin: 0 0 26px;
        &-td {
            width: 50%;
            vertical-align: top;
            line-height: 18px;
            padding-bottom: 4px;
            &--left {
                text-align: right;
                padding-right: 4px;
                @include b(767) {
                    padding-right: 1px;
                    width: 45%;
                }
            }
            &--right {
                font-weight: 500;
                padding-left: 3px;
                @include b(767) {
                    padding-left: 2px;
                    width: 55%;
                }
            }
        }
        @include b(767) {
            margin: 0 0 17px; 
        }
    }
    &__note {
        display: inline-block;
        width: auto;
        &-wrapper {
            text-align: center;
            @include b(767) {
                padding: 0 32px; 
            }
        }
        a {
            font-weight: 500;
            text-decoration: underline;
        }
        
    }
}

