<!--step 3 -->
   <div class="order order--step3">
    <h1 class="h1 order__title">Параметры вашего заказа</h1>
    <div class="order__info">

    <table class="order__table">
        <tbody>
            <tr class="order__table-tr">
                <td class="order__table-td order__table-td--img">
                    <a href="#"><img src="pic/basket-products/product1.jpg" alt="" /></a>
                </td>
                <td class="order__table-td order__table-td--title">
                    <a href="#">Смарт-терминал ФН 36</a>
                </td>
                <td class="order__table-td order__table-td--spinner-price">
                    <p class="order__table-spinner order__table-spinner--fixed">1 шт.</p>
                    <p class="order__table-price">29 500 руб.</p>
                </td>
            </tr>
            <tr class="order__table-tr">
                <td class="order__table-td order__table-td--img">
                    <a href="#"><img src="pic/basket-products/product2.png" alt="" /></a>
                </td>
                <td class="order__table-td order__table-td--title">
                    <a href="#">Регистрация в налоговой</a>
                </td>
                <td class="order__table-td order__table-td--spinner-price">
                    <p class="order__table-spinner order__table-spinner--fixed">1 шт.</p>
                    <p class="order__table-price">29 500 руб.</p>
                </td>
            </tr>
            <tr class="order__table-tr">
                <td class="order__table-td order__table-td--img">
                    <a href="#"><img src="pic/basket-products/product3.png" alt="" /></a>
                </td>
                <td class="order__table-td order__table-td--title">
                   <a href="#">Регистрация в ОФД</a>
                </td>
                <td class="order__table-td order__table-td--spinner-price">
                    <p class="order__table-spinner order__table-spinner--fixed">1 шт.</p>
                    <p class="order__table-price">29 500 руб.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="order__details">
        <tr class="order__details-tr">
            <td class="order__details-td order__details-td--left">Сумма заказа:</td>
            <td class="order__details-td order__details-td--right">45 500 рублей</td>
        </tr>
         <tr class="order__details-tr">
            <td class="order__details-td order__details-td--left">Оплата:</td>
            <td class="order__details-td order__details-td--right">банковской картой</td>
        </tr>
         <tr class="order__details-tr">
            <td class="order__details-td order__details-td--left">Адрес доставки:</td>
            <td class="order__details-td order__details-td--right">г. Набережные Челны, ул. Мира, <wbr>д.19/23 офис 39</td>
        </tr>
         <tr class="order__details-tr">
            <td class="order__details-td order__details-td--left">Срок доставки:</td>
            <td class="order__details-td order__details-td--right">31.12.2017</td>
        </tr>
         <tr class="order__details-tr">
            <td class="order__details-td order__details-td--left">Контактная информация:</td>
            <td class="order__details-td order__details-td--right">Леонов Максим,  +7(495)291-39-2</td>
        </tr>
    </table>
    <div class="order__note-wrapper">
        <p class="order__note note">Уточнить статус <a href="#">вашего заказа</a> можно узнать в <a href="#">личном кабинете</a></p>
    </div>
    </div>
</div>


 













