<!--step 1 -->
   <div class="order">
    <h1 class="h1 order__title">Параметры вашего заказа</h1>
    <div class="order__info">
    <form action="">
    <table class="order__table">
        <tbody>
            <tr class="order__table-tr">
                <td class="order__table-td order__table-td--img">
                    <a href="#"><img src="pic/basket-products/product1.jpg" alt="" /></a>
                </td>
                <td class="order__table-td order__table-td--title">
                    <a href="#">Смарт-терминал ФН 36</a>
                </td>
                <td class="order__table-td order__table-td--spinner-price">
                    <div class="spinner order__table-spinner js-spinner" data-min="1" data-max="30">
                        <a href="#" title="" class="spinner__minus js-spinner-minus">-</a>
                        <div class="spinner__text-wrapper" data-postfix="шт.">
                            <input type="text" class="spinner__text" value="1">
                        </div>
                        <a href="#" title="" class="spinner__plus js-spinner-plus">+</a>
                    </div>
                    <p class="order__table-price">29 500 руб.</p>
                </td>
            </tr>
            <tr class="order__table-tr">
                <td class="order__table-td order__table-td--img">
                    <a href="#"><img src="pic/basket-products/product2.png" alt="" /></a>
                </td>
                <td class="order__table-td order__table-td--title">
                    <a href="#">Регистрация в налоговой</a>
                </td>
                <td class="order__table-td order__table-td--spinner-price">
                    <div class="spinner order__table-spinner js-spinner" data-min="1" data-max="30">
                        <a href="#" title="" class="spinner__minus js-spinner-minus">-</a>
                        <div class="spinner__text-wrapper" data-postfix="шт.">
                            <input type="text" class="spinner__text" value="1">
                        </div>
                        <a href="#" title="" class="spinner__plus js-spinner-plus">+</a>
                    </div>
                    <p class="order__table-price">29 500 руб.</p>
                </td>
            </tr>
            <tr class="order__table-tr">
                <td class="order__table-td order__table-td--img">
                    <a href="#"><img src="pic/basket-products/product3.png" alt="" /></a>
                </td>
                <td class="order__table-td order__table-td--title">
                   <a href="#"> Регистрация в ОФД</a>
                </td>
                <td class="order__table-td order__table-td--spinner-price">
                    <div class="spinner order__table-spinner js-spinner" data-min="1" data-max="30">
                        <a href="#" title="" class="spinner__minus js-spinner-minus">-</a>
                        <div class="spinner__text-wrapper" data-postfix="шт.">
                            <input type="text" class="spinner__text" value="1">
                        </div>
                        <a href="#" title="" class="spinner__plus js-spinner-plus">+</a>
                    </div>
                    <p class="order__table-price">29 500 руб.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="order__total h4">Обшая стоимость: <span class="order__total-price">38 500 руб.</span></p>
    <div class="order__submit">
        <div class="order__check">
            <input type="checkbox" name="check" id="checkbox"> 
			<label for="checkbox">
               <span class="check"><svg class="check__icon"><use xlink:href="#check"></use></svg></span>
               Я согласен с <a href="#">условиями оферты</a>
               </label>
        </div>
        <button class="btn btn--md order__btn">Отправить</button>
    </div>
    </form>
    </div>
</div>




