<!--step 2 -->
   <div class="order order--step2">
    <h1 class="h1 order__title">Выберите способ оплаты</h1>
    <div class="order__info">
    <form action="">
       <div class="order__payment-wrapper">
        <ul class="order__payment">
            <li class="order__payment-item">
                <input type="radio" name="type" id="check1">
                <label for="check1" class="order__payment-label">
                   <span class="order__payment-item-wrapper">
                    <img class="order__payment-img" src="pic/payment/payment1.png" />
                    <span class="order__payment-title">Банковской картой</span>
                    </span>
                </label>
            </li>
            <li class="order__payment-item">
                <input type="radio" name="type" id="check2"> 
                <label for="check2" class="order__payment-label">
                    <span class="order__payment-item-wrapper">
                    <img class="order__payment-img" src="pic/payment/payment2.png" />
                    <span class="order__payment-title">Банковской картой</span>
                    </span>
                </label>
            </li>
            </ul>
        </div>   
    </form>
    <a href="#" class="btn btn-gray step-back-btn">Назад</a>
    </div>
</div>




