<div class="cart-panel js-cart-panel">
	<div class="cart-panel__inner">
		<div class="cart-panel__left">Ваш заказ:</div>
		<div class="cart-panel__main">
			<div class="row">
				<div class="col-sm-8">
					<ul class="cart-panel__list js-cart-panel-list"></ul>
					<a href="#" class="cart-panel__more-link js-cart-panel-more">(еще <span class="js-cart-panel-count">0</span> <span class="js-cart-panel-count-text"></span>)</a>
				</div>
				<div class="col-sm-4">
					<span class="cart-panel__sum-title">Общая сумма:</span>
					<span class="cart-panel__sum"><span class="js-cart-panel-sum">0</span>руб.</span>
					<span class="cart-panel__sum-info">Цены указаны для региона <a href="#">Москва</a></span>
				</div>
			</div>
		</div>
		<div class="cart-panel__right"><a href="#" data-fancybox data-src="#cart-form" class="btn btn--square">Оформить</a></div>
	</div>
</div>