.cart-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 10;
	padding: 12px 0;
	display: none;
	box-shadow: 0 21px 64px rgba($mainFontColor, .4);
	overflow: hidden;
	@include b(mobile) {
		display: none!important;
	}
	&.relative {
		position: relative;
		z-index: 1;
	}
	&.visible {
		display: block;
	}
	&__inner {
		width: 700px;
		max-width: 100%;
		@include clearfix;
		margin: 0 auto;
	}
	&__left {
		float: left;
		margin: 0 0 0 -210px;
		text-align: right;
		width: 210px;
		font-size: 18px;
		font-weight: 700;
		@include b(tablet) {
			float: none;
			margin: 0;
			width: auto;
			line-height: 20px;
			text-align: left;
		}
	}
	&__right {
		float: right;
		margin: 0 -210px 0 0;
		width: 210px;
		padding: 6px 0 0 0;
		@include b(tablet) {
			float: none;
			margin: 0;
			width: auto;
			padding: 10px 0 0 0;
			text-align: center;
		}
	}
	&__main {
		float: left;
		width: 100%;
		padding: 0 10px;
		@include b(tablet) {
			float: none;
			width: auto;
			padding: 0;
		}
	}
	&__sum-title {
		display: block;
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
	}
	&__sum {
		display: block;
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		color: $orange;
	}
	&__sum-info {
		font-size: 12px;
		line-height: 16px;
		display: block;
	}
	&__more-link {
		display: none;
		color: $orange;
		&.visible {
			display: inline;
		}
	}
	&__list {
		font-size: 0;
		line-height: 0;
		display:inline;
		&-item {
			display: inline;
			padding: 0 0 0 20px;
			line-height: 24px;
			font-size: 14px;
			position: relative;
			@include b(tablet) {
				padding: 0 5px 0 15px;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: $mainFontColor;
				top: 6px;
				left: 7px;
				@include b(tablet) {
					left: 0;
				}
			}
		}
	}
}