button,
	.btn {
		text-align: center;
		vertical-align: top;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		padding: 12px 22px;
		text-transform: uppercase;
		background: $orange;
		color: $white;
		border: 1px solid $orange;
		border-radius: 30px; 
		position: relative;
		transition: all .3s ease-in-out;
		width: 100%;
		display: block;
        outline: none;
        //font-weight: 500;
		&:hover,
		&.active,
		&:active,
		&:focus {
			color: $orange;
			background: $white;
		}
		&.disabled,
		&[disabled="disabled"], 
		&[disabled] {
			background: #ccc;
			color: #aaa;
			cursor: not-allowed;
		}
        &-white {
            color: $orange;
			background: $white; 
            &:hover, &:active, &:focus {
                background: $orange;
                color: $white;
            }
        }
        &--sm {
            font-size: 12px;
            padding: 8px 24px;
            line-height: 20px;
        }
        @include b(767) {
            font-size: 12px;
            line-height: 12px;
            padding: 13px 25px;
        }
        &--md {
            text-transform: none;
            font-size: 16px;
            padding: 5px 32px;
            @include b(767) {
                font-size: 13px;
                padding: 7px 27px;
            }
        }
        &-gray {
            border: 1px solid $light-gray2;
            color: $light-gray2;
            text-transform: none;
            font-size: 14px;
            padding: 5px 40px;
            background: $white;
            &:hover,
            &.active,
            &:active,
            &:focus {
                color: #999fa3;
                border: 1px solid #999fa3;
                background: $white;
            }
            @include b(767) {
                font-size: 12px;
                line-height: 14px;
                padding: 7px 35px;
            }
        }
	}

	

.btn {
	&--square {
		font-size: 14px;
		line-height: 24px;
		padding: 6px 35px;
		border-radius: 5px;
		display: inline-block;
		width: auto;
	}
	&--inline {
		display: inline-block;
		width: auto;
	}
	&--sm-text {
		text-transform: none;
		font-weight: 500;
	}
}

.btn.active, .btn:active {
    box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}

.btnbox {
    @include b(767) {
        text-align: center;
    }
}