input[type="checkbox"] {
	position: absolute;
	left: -9999px;
	& + label {
		display: inline-block;
		vertical-align: top;
		padding: 0 0 0 35px;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 16px;
		width: auto !important;
		&:before, &:after  {
			position: absolute;
			content: '';
		}
        .check {
            width:24px;
            height: 24px;
            position: absolute;
            left:0;
            top:50%;
            transform: translateY(-50%);
            border: 1px solid $light-gray2;
            border-radius: 3px;
            background: $white;
            text-align: center;
            line-height: 28px;
            &__icon {
                width:14px;
                height:14px;
                fill: $orange;
                opacity: 0;
                transition: all .3s ease;
                @include b(767) {
                    width:8px;
                    height:8px;
                }
            }
            @include b(767) {
                width:17px;
                height: 17px;
                line-height: 16px;
            }
        }
        @include b(767) {
           padding: 0 0 0 25px;
        }
	}
	&:not(:checked) + label {
		&:before {
		}
	}
	&:checked + label {
		&:after {
			opacity: 1;
		}
        .check__icon {
            opacity: 1;
        }
	}
	&:disabled:checked + label {
		&:before {
		}
	}
	&:disabled:not(:checked) + label {
		&:before {
		}
	}
}
