	
textarea,
select,
input {
	background-color: #fff;
	border: 1px solid $deep-blue;
	color: $mainFontColor;
	font-size: $mainFontSize;
	line-height: $mainFontHeight;
	padding: 7px 10px;
	width: 100%; 
	height: 36px;
	display: block;
	transition: all .2s ease;
	-webkit-appearance: none;
	border-radius: 3px;
	@include placeholderColor($mainFontColor);
    font-size: 14px;
    font-weight: 700;
	&:focus {
		border-color: #000;
		background-color: #fff;
	}
	&.error {
	}
	&.disabled,
	&[disabled="disabled"],
	&[disabled] {
		background-color: #f3f3f3;
	}
}

textarea {
	height: 150px;
}

input[type="file"] {
	display: none;
	& + label {
		display: block;
		background: #fff;
		font-size: 14px;
		line-height: 24px;
		padding: 25px 15px;
		color: #969696;
		text-align: center;
		border: 1px dashed #c4c4c4;
		transition: .2s ease-in-out;
		&:hover {
			border-color: #696969;
			background: #e9e9e9;
		}
	}
}

.inputbox {
    padding: 0 0 15px;
}