.fancybox-bg {
    background: $deep-blue;
}
.popup {
    display: none;
    padding: 25px 45px 20px 55px;
    border-radius: 7px;
    width: 571px;
    @include b(767) {
        padding: 20px 27px 15px;
        max-width: calc(100% - 20px);
        width: auto;
        border-radius: 4px;
    }
}

.fancybox-close-small:focus:after {
    outline: 0;
}