input[type="radio"] {
	position: absolute;
	left: -9999px;
	& + label {
		display: inline-block;
		vertical-align: top;
		padding: 0 0 0 35px;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 16px;
		width: auto;
		&:before, &:after  {
			position: absolute;
			content: '';
		}
        &:before {
            width:24px;
            height: 24px;
            position: absolute;
            left:0;
            top:50%;
            transform: translateY(-50%);
            border: 1px solid $light-gray2;
            border-radius: 30px;
            background: $white;
		}
        &:after {
            width:14px;
            height:14px;
            background: $orange;
            border-radius: 30px;
            opacity: 0;
            transition: all .3s ease;
            left:5px;
            top:50%;
            transform: translateY(-50%);
        }
        
	}
	&:not(:checked) + label {
		
	}
	&:checked + label {
		&:after {
			opacity: 1;
		}
	}
	&:disabled:checked + label {
		&:before {
            background: #ccc;
		}
	}
	&:disabled:not(:checked) + label {
		&:before {
            background: #ccc;
		}
	}
}