.spinner {
	display: inline-block;
	width: 105px;
    height: 37px;
    

	&__minus {
		display: inline-block;
		vertical-align: middle;
        width: 15px;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none!important;
        color: $deep-blue!important;
        margin: 0 5px 0 0;
        @include b(767) {
            font-size: 18px;
            width: 10px;
            margin: 0 2px 0 0;
        }
	}

	&__plus {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none!important;
        color: $deep-blue!important;
        margin: 0 0 0 5px;
        @include b(767) {
            font-size: 18px;
            width: 10px;
            margin: 0 0 0 2px;
        }
	}

	&__text {
		outline: none;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	
        &-wrapper {
            outline: none;
            display: inline-block;
            vertical-align: middle;
            width: 58px;
            position: relative;
            &:after {
                content: attr(data-postfix);
                position: absolute;
                right: 10px;
                top: 7px;
                font-size: 14px;
                font-weight: 700;
                @include b(767) {
                   font-size: 12px;
                   right: 4px;
                   top: 3px;
                }
            }
           @include b(767) {
              width: 42px;
           }
        }
        @include b(767) {
            font-size: 12px;
            padding: 5px;
            line-height: 8px;
            height: 25px;
        }
    }
    @include b(767) {
        width:80px;
        height: 30px;
    }
}