@@include('src/modules/head/head-admin.html', {
  	"title": "admin",
  	"class": "no-mob"
  }) 

  @@include('src/modules/header/header-admin.html')
    <div class="container">
    	<div class="content__cols">
			<div class="content__aside aside">
				<ul class="aside__list">
					<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-graph"></span>Отчеты</a>
						<ul class="aside__sublist">
							<li class="aside__sublist-item">
								<a href="#" class="aside__sublist-link">Терминалы</a>
							</li>
							<li class="aside__sublist-item">
								<a href="#" class="aside__sublist-link">Чеки</a>
							</li>
							<li class="aside__sublist-item">
								<a href="#" class="aside__sublist-link">Продажи</a>
							</li>
							<li class="aside__sublist-item">
								<a href="#" class="aside__sublist-link">Скидки</a>
							</li>
						</ul>
					</li>
					<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-checks"></span>Чеки</a>
					</li>
					<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-home"></span>Магазины</a>
					</li>
					<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-goods"></span>Товары</a>
					</li>
						<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-terminals"></span>Терминалы</a>
					</li>
					<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-employees"></span>Сотрудники</a>
					</li>
					<li class="aside__list-item">
						<a href="#" class="aside__list-link"><span class="icon-settings"></span>Настройки</a>
					</li>
				</ul>
			</div>
			<div class="content__main">
				<span class="admin__title">Мои заказы</span>
				<div class="admin-orders">
					<table class="admin-orders__table">
						<tr>
							<th>Номер</th>
							<th>Заказ</th>
							<th>Дата заказа</th>
							<th>Сумма</th>
							<th>Тех. статус</th>
						</tr>
						<tr class="admin-orders__table-row--passed">
							<td>Е12356778</td>
							<td><a href="#">Эвотор 10</a></td>
							<td>02.12.2017</td>
							<td>29 000</td>
							<td>Заказ доставлен</td>
						</tr>
						<tr class="admin-orders__table-row--active">
							<td>Е12356778</td>
							<td><a href="#">Эвотор 7 + Эвотор 10</a></td>
							<td>08.12.2017</td>
							<td>39 000</td>
							<td>Заказ передан в службу доставки</td>
						</tr>
					</table>
				</div>
				<div class="admin__cols">
					<div class="admin__col admin__col--lg">
						<div class="admin__col-card">
							<span class="admin__col-card-title">Статус заказа "Е12356778"</span>
							<div class="admin-status-bar">
								<div class="admin-status-bar__item passed">
									<span class="admin-status-bar__icon"></span>
									Заказ оформлен
								</div>
								<div class="admin-status-bar__item">
									<span class="admin-status-bar__icon"></span>
									Заказ оплачен
								</div>
								<div class="admin-status-bar__item">
									<span class="admin-status-bar__icon"></span>
									Заказ передан в службу доставки
								</div>
								<div class="admin-status-bar__item">
									<span class="admin-status-bar__icon"></span>
									Заказ доставлен
								</div>
							</div>
							<span class="admin__col-card-title admin__col-card-title--">Партнер</span>
							<span class="admin__col-text">ООО "Доставляем" <a href="#">www.dostavkawww.ru</a></span>
						</div>
					</div>
					<div class="admin__col admin__col--sm">
						<div class="admin__col-card">
							<span class="admin__col-card-title">Персональный менеджер</span>
							<div class="admin-manag">
								<div class="admin-manag__img">
									<img src="img/manager.jpg" alt="">
								</div>
								<div class="admin-manag__content">
									<span class="admin-manag__title">Константинопольский Александр Владимирович</span>
									<span class="admin-manag__text">+7 (495) 933-44-51 доб.1294</span>
									<span class="admin-manag__text">konst@evotor.ru</span>
								</div>
							</div>
							<a href="#" class="btn btn--square btn--sm-text btn--inline">Задать вопорос</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
		

  @@include('src/modules/footer/footer.html')

  @@include('src/modules/foot/foot.html')

