@@include('src/modules/head/head.html') 

  @@include('src/modules/header/header.html')
    

    @@include('src/modules/search/search.html')


    <div class="wrapper">
    	<div class="container">
            <div class="content__page warranty">
                @@include('src/modules/search/search-lnk.html')

                @@include('src/modules/warranty/warranty-list.html', { 
                  
                "arr": [ { 
                  "title": "Сервисный центр",
                  "text": "Если нужно настроить или&nbsp;починить Эвотор", 
                  "icon":"service-center",
                  "act":"act"
                }, { 
                  "title": "Онлайн-консультант", 
                  "text": "Если есть вопросы про смарт- терминал, личный кабинет и&nbsp;приложения", 
                  "icon":"online-consultant"
                }, { 
                   "title": "Техподдержка", 
                   "text": "Если со смарт-терминалом что-то случилось, и нужна помощь", 
                   "icon":"support"
                } ] 
              })
            </div>
        </div>
    	
    </div>

  @@include('src/modules/footer/footer.html')
  
  @@include('src/modules/warranty/warranty-popup.html') 
   
  @@include('src/modules/foot/foot.html')