@@include('src/modules/head/head.html') 

  @@include('src/modules/header/header.html')
    
    <div class="wrapper">
    	<div class="container">
            <div class="content__page warranty">
                <h1 class="content__title warranty__page-title">Гарантия и ремонт</h1>
                <div class="warranty-tabs js-tabs-container">
                    <ul class="warranty-tabs__nav">
                        <li class="warranty-tabs__nav-item js-tab active">СМАРТ-ТЕРМИНАЛ</li>
                        <li class="warranty-tabs__nav-item js-tab">Дополнительное оборудование</li>
                    </ul>
                    <div class="warranty-tabs__item js-tab-content active">
                        <div class="warranty-graph">
                        <div class="row">
                        @@loop('src/modules/warranty/warranty-graph.html', [
                                {
                                    "title": "12 месяцев гарантии",
                                    "text": "Мы ремонтируем смарт-терминалы  бесплатно 12 месяцев со дня первой активации, но не больше 18 месцев с даты производства",
                                    "icon":"calendar"
                                },
                                {
                                    "title": "Сервисные центры по всей России",
                                    "text": "От Калининграда до Камчатки —  без ремонта не оставим",
                                    "icon":"marker-lg"
                                },
                                {
                                    "title": "Ремонт за 3 дня",
                                    "text": "А если в сервисном центре есть  нужные детали — еще быстрее",
                                    "icon":"clock"
                                }
                           ])
                           </div>
                        </div>
                        <a href="#" class="warranty__select-city">
                            <svg class="warranty__select-city-icon"><use xlink:href="#marker"></use></svg>
                            Выбрать ремонтный сервис в моем городе
                        </a>
                        <div class="warranty__note">
                           <div class="warranty__note-text">
                            <h4 class="warranty__note-title">Не платите за ремонт</h4>
                            <p class="warranty__note-subtitle">Чтобы отремонтировать смарт-терминал бесплатно:</p>
                            <ul class="warranty__note-list">
                                <li class="warranty__note-list-item">не используйте некачественные расходные материалы</li>
                                <li class="warranty__note-list-item">не вскрывайте смарт-терминал сами, чтобы не нарушить заводскую пломбу</li>
                                <li class="warranty__note-list-item">не снимайте наклейку с гарантийным номером (на ней - дата произодства смарт-терминала, от которой зависит срок гарантийного ремонта)</li>
                                <li class="warranty__note-list-item">не заливайте смарт-терминал водой и не роняйте</li>
                            </ul>
                            <a href="#" class="warranty__note-link">Гарантийные обязательства </a>
                             </div>
                            <div class="warranty__check">
                                <h4 class="warranty__check-title">Проверьте, что  гарантия действует</h4>
                                <p class="warranty__check-descr">Укажите серийный номер терминала</p>
                                <form action="">
                                    <div class="inputbox">
                                        <input type="text" class="warranty__check-input">
                                    </div>
                                    <div class="btnbox">
                                        <button class="btn btn--md warranty__check-btn">Проверить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="warranty-tabs__item js-tab-content">
                        
                        @@include('src/modules/warranty/warranty-additional.html', {
                        "title": "Куда обратиться, чтобы починить дополнительное оборудование",
                        "subtitle": "Производители ремонтируют только оборудование из комплекта смарт-терминала &laquo;Эвотор&raquo;. <br>Если вы покупали что-то сами и не у нас, за ремонтом обращайтесь к продавцу.",
                        "arr": [
                            {
                                "title": "Фискальный накопитель",
                                "img": "1",
                                "warranty":"12 месяцев",
                                "term" : "4 дня",
                                "linktext" : "в сервисный центр Эвотора в вашем городе",
                                "link" : "#"
                            },
                            {
                                "title": "УТМ Атол HUB-19",
                                "img": "2",
                                "warranty":"12 месяцев",
                                "term" : "1 неделя",
                                "linktext" : "в сервисный центр Атол в вашем городе",
                                "link" : "#"
                            },
                            {
                                "title": "Сканер Zebra",
                                "img": "3",
                                "warranty":"12 месяцев",
                                "term" : "4 дня",
                                "linktext" : "обратиться к производителю",
                                "link" : "#warranty-popup-1"
                            },
                            {
                                "title": "Сканер Honeywell",
                                "img": "4",
                                "warranty":"12 месяцев",
                                "term" : "1 неделя",
                                "linktext" : "обратиться к производителю",
                                "link" : "#warranty-popup-2"
                            }
                        ]
                    })
                    </div>
                </div>
            </div>
        </div>
    	
    </div>

  @@include('src/modules/footer/footer.html')
  
  @@include('src/modules/warranty/warranty-popup.html') 
   
  @@include('src/modules/foot/foot.html')