.catalog-slider {
	position: relative;
	padding: 23px 0 70px 0;
	overflow: hidden;
	@include b(mobile) {
		padding: 12px 0 35px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 250px;
		background: $orange;
		z-index: -1;
		@include b(mobile) {
			height: 175px;
		}
	}
	
	&__title {
		display: block;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		color: $white;
		font-weight: 500;
		padding: 0 0 20px 0;
		
		
		@include b(mobile) {
			font-size: 15px;
			line-height: 18px;
			padding: 0 0 10px 0;
		}
	}
	&__inner {
		margin: 0 -15px;;
		padding: 52px 0 0 0;
		@include b(mobile) {
			margin: 0 -60px;
			padding: 25px 0 0 0;
			.row {
				margin-left: -5px;
				margin-right: -5px;
			}
			[class*="col-"] {
				padding: 0 5px;
				&:first-child {
					.catalog-slider-card {
						padding-left: 25px;
					}
				}
				&:last-child {
					.catalog-slider-card {
						padding-right: 25px;
					}
				}
			}
		}
	}
}

.catalog-slider-card {
	padding: 0 11px;
	position: relative;
	display: block;
	color: $mainFontColor;
	&:hover, &:focus {
		opacity: 1;
        text-decoration: none;
        color: $mainFontColor;
		.catalog-slider-card {
			&__main,
			&__bottom {
				box-shadow: 0 15px 64px rgba(#333f48, .4);
			}
		}
	}
	@include b(mobile) {
		padding: 0 5px;
		
	}
	&--center {
		margin: -50px -8px 0;
		padding: 0;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -13px;
			left: 50%;
			border-bottom: 13px solid $white;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
			margin: 0 0 0 -11px;
			z-index: 1;
		}
		@include b(mobile) {
			margin: -15px -5px 0;
		}
		.catalog-slider-card {
			&__img {
				height: 240px;
				@include b(mobile) {
					height: 100px;
				}
			}
			&__title {
				@include b(mobile) {
					font-size: 15px;
					line-height: 17px;
				}
			}
			&__descr {
				@include b(mobile) {
					@include b(mobile) {
						font-size: 11px;
						line-height: 12px;
					}
				}
			}
			&__main,
			&__bottom {
				box-shadow: 0 21px 64px rgba(#333f48, .4);
				@include b(mobile) {
					box-shadow: 0 10px 32px rgba(#333f48, .4);
				}
			}
			&__price {
				text-align: left;
				color: $orange;
				font-size: 18px;
				line-height: 36px;
				@include b(mobile) {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}
	}
	&--disabled {
		
		.catalog-slider-card__title,
		.catalog-slider-card__descr,
		.catalog-slider-card__img {
			opacity: .3;
		}
		
	}
	&__info {
		display: block;
		top: 10px;
		right: 10px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		[class*="icon-"] {
			fill: rgba($deep-blue, .5);
		}
		@include b(mobile) {
			top: 5px;
			right: 5px;
			[class*="icon-"] {
				width: 10px;
				height: 10px;
			}
		}
	}
	&__main {
		background: $white;
		border-radius: 5px;
		padding: 20px 20px 16px;
		min-height: 280px;
		box-shadow: 0 15px 64px rgba(#333f48, .2);
		margin: 0 0 2px 0;;
		position: relative;
		transition: all .2s ease;
		@include b(mobile) {
			padding: 10px;
			min-height: 140px;
			box-shadow: 0 7px 32px rgba(#333f48, .2);
		}
	}
	&__img {
		height: 155px;
		padding: 0 0 10px 0;
		font-size: 0;
		line-height: 0;
		text-align: center;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
		}
		@include b(mobile) {
			height: 75px;
			padding: 0 0 5px 0;
		}
	}
	&__bottom {
		background: $white;
		border-radius: 5px;
		padding: 12px 20px;
		box-shadow: 0 15px 64px rgba(#333f48, .2);
		position: relative;
		@include clearfix;
		transition: all .2s ease;
		@include b(mobile) {
			padding: 6px 10px;
			box-shadow: 0 7px 32px rgba(#333f48, .2);
		}
	}
	&__price {
		display: block;
		text-align: center;
		font-size: 14px;
		line-height: 26px;
		font-weight: 500;
		@include b(mobile) {
			font-size: 7px;
			line-height: 11px;
		}
	}
	&__title {
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		padding: 0 0 6px 0;
		a {
			color: $mainFontColor;
		}
		@include b(mobile) {
			font-size: 12px;
			line-height: 14px;
		}
	}
	&__descr {
		display: block;
		text-align: center;
		font-size: 14px;
		line-height: 16px;
		@include b(mobile) {
			font-size: 7px;
			line-height: 11px;
		}
	}
	&__check {
		display: block;
		width: 36px;
		height: 36px;
		float: right;
		border-radius: 3px;
		background: $orange;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 12px;
			height: 18px;
			border-bottom: 4px solid $white;
			border-right: 4px solid $white;
			transform: rotate(45deg);
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -12px 0 0 -6px;
		}
		@include b(mobile) {
			width: 18px;
			height: 18px;
			&:before {
				width: 6px;
				height: 9px;
				border-width: 2px;
				margin: -6px 0 0 -3px;
			}
		}
	}
}