<div class="catalog-slider">
	<div class="container container--sm">
		<div class="row">
			<div class="col-sm-12">
				<span class="catalog-slider__title">Эта модель подойдет для вашего бизнеса</span>
			</div>
		</div>
		<div class="catalog-slider__inner">
			<div class="row">
				<div class="col-xs-4">
					@@include('src/modules/catalog-slider/catalog-slider-card.html', {
						"img": "01",
						"descr": "Маленькая касса, которая может всё"
					})
				</div>
				<div class="col-xs-4">
					@@include('src/modules/catalog-slider/catalog-slider-card.html', {
						"img": "02",
						"descr": "Без проводов, работайте как вам удобно",
						"center": "true"
					})
				</div>
				<div class="col-xs-4">
					@@include('src/modules/catalog-slider/catalog-slider-card.html', {
						"img": "03",
						"gray": "true",
						"descr": "Онлайн-касса с 10-дюймовым экраном для кафе и ресторанов"
					})
				</div>
			</div>
		</div>
	</div>	
</div>
