<div class="catalog-slider-card @@if(context.center == "true"){catalog-slider-card--center} @@if(context.gray == "true"){catalog-slider-card--disabled}">
	
	<div class="catalog-slider-card__main">
		<a href="#prod-popup" data-fancybox class="catalog-slider-card__info">
			<svg class="icon-info">
				<use xlink:href="#info"></use>
			</svg>
		</a>
		<div class="catalog-slider-card__img">
			<a href="#"><img src="pic/catalog-slider/catalog-slider-@@img.jpg" alt=""></a>
		</div>
		<div class="catalog-slider-card__title"><a href="#">Эвотор 7.2+</a></div>
		<span class="catalog-slider-card__descr">@@descr</span>
	</div>
	<div class="catalog-slider-card__bottom">
		@@if(context.center == "true") {
			<span class="catalog-slider-card__check"></span>
		}
		@@if(context.gray != "true") {
		<span class="catalog-slider-card__price">26 000 руб.</span>
		}
		 
		@@if(context.gray == "true") {
		<span class="catalog-slider-card__price">Скоро</span>
		}
	</div>	
</div>