.warranty {
    max-width: 860px;
    margin: 0 auto;
    &__page-title {
        padding: 0 0 50px 35px;
        @include b(991) {
            padding: 0 0 30px 0;
        }
        @include b(767) {
            display: none;
        }
    }
    &-tabs {
        &__nav {
            font-size: 0;
            list-style-type: none;
            border-bottom: 1px solid $light-gray;
            margin: 0 0 60px;
            @include b(767) {
                margin: 0 0 10px;
                text-align: center;
                border-bottom: none;
                margin: 0 0 18px;
            }
            &-item {
                display: inline-block;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 20px;
                padding: 0 0 5px;
                border-bottom: 3px solid transparent;
                @extend .transition;
                vertical-align: bottom;
                cursor: pointer;
                margin: 0 15px 0 35px;
                font-weight: 500;
                @include b(767) {
                    font-size: 12px;
                    line-height: 15px;
                    margin: 0 10px 15px;
                    border-width: 2px;
                }
                &:last-child {
                   margin: 0 0 0 35px;
                    @include b(767) {
                        margin: 0 15px 10px;
                    }
                }
                &:hover {
                    color: $orange;
                }
                &.active {
                    color: $orange;
                    border-bottom: 3px solid $orange;
                     @include b(767) {
                        border-width: 2px;
                    }
                }
            }
        }
        &__item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    &-graph {
        padding: 0 0 0 35px;
        @include b(991) {
            padding: 0 20px 15px;
        }
        &__item {
            padding-top: 115px;
            padding-bottom: 5px;
            position: relative;
            @include b(767) {
                padding-top: 55px;
                padding-bottom: 18px;
                text-align: center;
            }
            &-icon {
                position: absolute;
                top: 10px;
                left:50%;
                transform: translateX(-50%);
                @include b(767) {
                    top: 5px;
                }
                &--calendar {
                    width: 70px;
                    height: 70px; 
                    @include b(767) {
                        width: 35px;
                        height: 36px;
                        background-position: -205px -107px;
                    }
                }
                &--marker-lg {
                    width: 50px;
                    height: 70px; 
                    @include b(767) {
                        width: 25px;
                        height: 35px;
                        background-position: -245px -107px;
                    }
                }
                &--clock {
                    width: 75px;
                    height: 80px;
                    @include b(767) {
                        width: 37px;
                        height: 41px;
                        background-position: -371px -57px;
                    }
                }
            } 
            &-title {
                font-size: 24px;
                line-height: 30px;
                padding: 0 0 10px;
                color: $mainFontColor;
                @include b(767) {
                    padding: 0 0 5px;
                    font-size: 15px;
                    line-height: 15px;
                }
            }
            &-text {
                @include b(767) {
                    padding: 0 0 5px;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
    &__select-city {
        color: $blue2;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        display: block;
        padding: 7px 0 7px 35px;
        position: relative;
        margin: 0 0 15px;
        @include b(767) {
            font-size: 12px;
            line-height: 15px;
            padding: 0 0 0 25px;
            margin: 0 55px;
        }
        &-icon {
            fill: $blue2;
            width: 15px;
            height: 25px;
            position: absolute;
            left: 5px;
            top: 0;
            @include b(767) {
                width: 15px;
                height: 18px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__note {
        margin: 67px 0 30px;
        border: 1px solid  $light-gray;
        border-radius: 5px;
        padding: 35px 30px 33px 35px;
        @extend .clearfix;
        @include b(767) {
            padding: 20px 15px 15px;
            margin: 45px -15px 0;
        }
        &-title {
            font-size: 24px;
            line-height: 30px;
            padding: 0 0 20px;
            color: $mainFontColor;
            @include b(767) {
                font-size: 18px;
                line-height: 18px;
                text-align: center;
                padding: 0 0 15px;
            }
        }
        &-subtitle {
            font-size: 16px;
            line-height: 24px;
            padding: 0 0 10px;
            font-weight: 500;
            @include b(767) {
                font-size: 12px;
                line-height: 15px;
            }
        }
        &-list {
            @extend %ul;
             @include b(767) {
                padding: 0 0 20px 5px;
            }
        }
        &-link {
            color: $blue2;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            @include b(767) {
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                display: block;
                margin: 0 0 20px;
            }
        }
        &-text {
            width: calc(100% - 360px);
            float: left;
            @include b(767) {
                 float: none;
                 width: 100%;
            }
        }
  
    }
    &__check {
        padding: 35px 40px 30px;
        border-radius: 5px;
        box-shadow: -1px 15px 60px rgba(51,63,72,.12);
        float: right;
        max-width: 320px;
        width: 100%;
        margin-top: 5px;
        @include b(767) {
            float: none;
            margin: 0 auto;
            padding: 20px 25px 15px;
        }
        &-title {
            font-size: 24px;
            line-height: 30px;
            padding: 0 0 10px;
            color: $mainFontColor;
            @include b(767) {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding: 0 0 5px;
            }
        }
        &-descr {
            letter-spacing: -0.5px;
            padding: 0 0 19px;
            @include b(767) {
                font-size: 12px; 
                padding: 0 0 10px;
                text-align: center;
                padding: 0 0 15px;
            }
        }
        &-input {
            border-color: #cccfd1;
            padding: 0 15px;
            font-size: 36px;
            height: 50px;
            line-height: 50px;
            font-weight: 300;
            @include b(767) {
                font-size: 24px;
            }
        }
        &-btn {
            font-weight: 500;
            display: inline-block;
            width: auto;
            font-size: 14px;
            @include b(767) {
                font-size: 13px;
            }
        }
    }
    &-additional {
        padding: 0 0 30px 35px;
        @include b(991) {
           padding: 0 0 20px 0; 
        }
        &__title {
            font-size: 24px;
            line-height: 30px;
            padding: 0 0 10px;
            color: $mainFontColor;
            @include b(767) {
                font-size: 12px;
                line-height: 15px;
                text-align: center;
            }
        }
        &__subtitle {
            padding: 0 0 30px;
            @include b(767) {
                font-size: 12px;
                line-height: 18px;
                padding: 0 0 30px;
                text-align: center;
            }
        }
        &__list {
            font-size: 0;
            @include b(767) {
                max-width: 290px;
                margin: 0 auto;
            }
        }
    }
    &-product { 
        margin: 0 43px 30px 0;
        width: calc(50% - 21px);
        max-width: 290px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        @include b(767) {
            margin: 0 0 25px 0;
            width: 100%;
        }
        &:after {
            box-shadow: -1px 15px 60px rgba(51,63,72,.15);
            content: '';
            position: absolute;
            top: 0;
            left:0;
            width:100%;
            border-radius: 6px;
            height: 100%;
            z-index: -1;
        }
        &:nth-of-type(even) {
            margin: 0 0 27px 0;
        }
        &__wrapper {
            position: relative;
            z-index: 1;
            padding: 25px 23px 25px 30px;
            border-radius: 6px;
            background: $white;
            @include b(767) {
                padding: 20px 20px 23px;
            }
        }
        &__title {
            font-size: 18px;
            line-height: 30px;
            padding: 0 0 15px;
            font-weight: 500;
            @include b(767) {
                font-size: 15px;
                line-height: 18px;
                text-align: center;
            }
        }
        &__img {
            height: 160px;
            text-align: center;
            padding: 0 0 15px;
            @include b(767) {
                height: 130px;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                line-height: 160px;
                vertical-align: middle;
                @include b(767) {
                   line-height: 130px;
                }
            }
        }
        &__item {
            font-size: 14px;
            padding: 0 0 6px;
            line-height: 18px;
            @include b(767) {
                font-size: 12px;
                padding: 0;
            }
            &-text {
                font-weight: 700;
            }
            &-link {
                text-decoration: underline;
                color: $blue2;
                font-weight: 700;
            }
        }
    }
    &-popup {
        max-width: 460px;
        padding: 25px 45px 35px 55px;
        font-family: "Museo-Sans", Verdana;
        @include b(767) {
            width: calc(100% - 20px);
            margin: 0;
            padding: 25px 20px;
        }
        &__title {
           font-weight: 500; 
           font-size: 18px;
            text-align: center;
            padding: 0 0 30px;
            @include b(767) {
                padding: 0 0 25px;
            }
        }
        &__text {
            padding: 0 0 20px;
            line-height: 18px;
            @include b(767) {
                padding: 0 0 5px;
            }
        }
        &__option {
            padding: 0;
            &-val {
               font-weight: 700; 
            }
            &-wrapper {
                padding: 0 0 20px;
            }
        }
        &__list {
            @extend %ol;
            padding: 0 0 10px;
            margin: 0 0 0 -20px;
            @include b(767) {
                margin: 0;
                padding: 0 0 15px;
            }
            &-item {
                a {
                    color: $blue2;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
        &__note {
            text-align: center;
            font-weight: 700;
            padding: 0 0 20px;
            line-height: 18px;
            @include b(767) {
                line-height: 15px;
                padding: 0 0 10px;
            }
        }
        &__subnote {
            opacity: 0.5;
            font-family: Arial, sans-serif;
            font-style: italic;
            font-size: 12px;
            line-height: 16px;
            padding: 0 0 33px;
            text-align: center;
            @include b(767) {
                font-size: 9px;
                line-height: 12px;
                padding: 0 0 20px;
            }
        }
        &__close {
            text-align: center;
        }
        &__btn {
            display: inline-block;
            width: auto;
            padding: 5px 35px;
        }
    }
}

.warranty-list {font-size: 0; margin: 0 -10px;
    &__span {display: inline-block; width: 33.333%; vertical-align: top; padding: 0 10px;
        @include b(767) {
            width: auto; display: block;
        }
    }
    &__item {border: 1px solid #fff; border-color: transparent;
        padding: 26px 10px 5px 24px; border-radius: 10px;
        @include b(991) {
            padding-left: 10px;
        }
        @include b(767) {
            padding-top: 10px;
        }
        &.act {border: 1px solid #e5e5e5;}
        &-header {
            font-size: 18px; color: #333f48; font-weight: 500;
            height: 42px; margin: 0 0 10px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
            @include b(991) {
                font-size: 16px;
            }
            @include b(767) {
                display: block;  height: auto; text-align: center;
            }
        }
        &-ico {display: inline-block; margin-right: 14px;
            @include b(767) {
                display: block; margin: 0 auto 10px; 
            }
        }
        &-text {height: 70px; font-size: 14px; line-height: 1.3em; color: #999fa3; padding-right: 10px; max-width: 215px;
            @include b(767) {
                max-width: 193px; text-align: center; height: auto; padding: 0 0 8px; margin: 0 auto;
            }
        }
    }
}