<div class="warranty-additional">
    <h4 class="warranty-additional__title">@@title</h4>
    <p class="warranty-additional__subtitle">@@subtitle</p>
    <div class="warranty-additional__list">
		<!--<div class="row">-->
			@@for(var i = 0; i < arr.length; i++) {
			<!--<div class="col-xs-6 col-sm-4">-->
				@@include('src/modules/warranty/warranty-card.html', {
					"title": "`+arr[i].title+`",
					"img": "`+arr[i].img+`",
					"warranty": "`+arr[i].warranty+`",
					"term": "`+arr[i].term+`",
                    "linktext": "`+arr[i].linktext+`",
					"link": "`+arr[i].link+`"
				})
			<!--</div>-->
			}
		<!--</div>-->
	</div>
</div>