<div class="warranty-list">
    @@for(var i = 0; i < arr.length; i++) {
        <div class="warranty-list__span">
            <div class="warranty-list__item `+arr[i].act+`">
                <div class="warranty-list__item-header">
                    <div class="warranty-list__item-ico warranty-list__item-ico--`+arr[i].icon+` icon-`+arr[i].icon+`"></div>
                    `+arr[i].title+`
                </div>
                <div class="warranty-list__item-text">`+arr[i].text+`</div>
            </div>
        </div>
    }
</div>