<div class="popup warranty-popup" id="warranty-popup-1">
    <p class="warranty-popup__title">Ремонт сканера Zebra</p>
    <p class="warranty-popup__text">Чтобы отремонтировать сканер, свяжитесь с производителем:</p>
    <ol class="warranty-popup__list">
        <li class="warranty-popup__list-item">Заполнить <a href="#">ремонтный формуляр</a>  и отправить на почту emea.ccc@zebra.com.</li>
        <li class="warranty-popup__list-item">Дождаться ответа — в нем производитель отправит вам зарегистрированный формуляр.</li>
        <li class="warranty-popup__list-item">Распечатать формуляр, отправить сканер вместе с формуляром в сервисный центр: 123290, Москва, Шелепихинская набережная, д. 18.</li>
    </ol>
    <p class="warranty-popup__note">Стоимость ремонта зависит от условий гарантии. Уточните условия у производителя</p>
    <p class="warranty-popup__subnote">Пожалуйста, не отправляйте в сервисный центр 
вместе со сканером  батареи, антенны, кабели, 
чехлы, футляры, стилусы, документы и оригинальную 
упаковку. Инженеры могут потерять что-то 
и не вернуть обратно. </p>
  <div class="warranty-popup__close">
   <a href="#" class="btn btn-gray warranty-popup__btn" data-fancybox-close>Закрыть</a>
   </div>
</div>

<div class="popup warranty-popup" id="warranty-popup-2">
    <p class="warranty-popup__title">Условия ремонта Сканер Honeywell</p>
    <div class="warranty-popup__option-wrapper">
    <p class="warranty-popup__option">Гарантия: <span class="warranty-popup__option-val">12 месяцев</span></p>
    <p class="warranty-popup__option">Срок ремонта: <span class="warranty-popup__option-val">1 неделя</span></p>
    </div>
    <ol class="warranty-popup__list">
        <li class="warranty-popup__list-item">Заполнить <a href="#">ремонтный формуляр</a>   отправить 
на почту Anton.Izbinsky@ctdi.com.</li>
        <li class="warranty-popup__list-item">Дождаться ответа — в нем производитель отправит вам зарегистрированный формуляр.</li>
        <li class="warranty-popup__list-item">Распечатать ремонтный формуляр, записать
туда номер.</li>
   <li class="warranty-popup__list-item">Отправить сканер вместе с формуляром в сервисный
       центр: 115230, г. Москва, Электролитный пр. д.3, стр.81.</li>
    </ol>
    <p class="warranty-popup__note">Возможно, ремонт платный. Статус ремонта 
уточните у производителя.</p>
    <p class="warranty-popup__subnote">Пожалуйста, сохраняйте квитанцию
об отправке сканера, пока не получите 
отремонтированный скарнер.</p>
   <div class="warranty-popup__close">
   <a href="#" class="btn btn-gray warranty-popup__btn" data-fancybox-close>Закрыть</a>
   </div>
</div>




