<div class="warranty-graph__item col-xs-12 col-sm-4">
    <div class="warranty-graph__item-icon warranty-graph__item-icon--@@icon icon-@@icon"></div>
    <h4 class="warranty-graph__item-title">@@title</h4>
    <p class="warranty-graph__item-text">@@text</p>
</div>