<div class="warranty-product">
   <div class="warranty-product__wrapper">
    <p class="warranty-product__title">@@title</p>
    <div class="warranty-product__img">
        <img src="pic/warranty/warranty-product@@img.jpg" alt="">
    </div>
    <div class="warranty-product__footer">
       <p class="warranty-product__item">Гарантия: <span class="warranty-product__item-text">@@warranty</span></p>
        <p class="warranty-product__item">Срок ремонта: <span class="warranty-product__item-text">@@term</span></p>
       
        
        <p class="warranty-product__item">Как отремонтировать: 
        @@if (context.link != '#') {
            <a href="@@link" data-src="@@link" data-fancybox class="warranty-product__item-link">@@linktext</a>
        } 
        @@if (context.link == '#') {
            <a href="@@link" class="warranty-product__item-link">@@linktext</a>
        }
        </p>
    </div>
    </div>
</div>