<div class="popup business-type" id="business-type">
    <h5 class="h5 business-type__title">Какой у вас бизнес?</h5>
    <p class="business-type__text">Выберите вариант наиболее подходящий для&nbsp;вашего&nbsp;бизнеса</p>
    <ul class="business-type__list">
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                        <svg class="business-type__item-icon business-type__item-icon--bar"><use xlink:href="#glass"></use></svg>
                        <span class="business-type__item-title">Ресторан/бар</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link"class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--retail"><use xlink:href="#cart"></use></svg>
                    <span class="business-type__item-title">Магазин у дома</span>
                </div></div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--services"><use xlink:href="#lightning"></use></svg>
                    <span class="business-type__item-title">Услуги</span>
                </div></div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--coffee"><use xlink:href="#cup"></use></svg>
                    <span class="business-type__item-title">Торговля пивом</span>
                </div></div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--trade"><use xlink:href="#bus"></use></svg>
                    <span class="business-type__item-title">Выездная торговля</span>
                </div></div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--island"><use xlink:href="#island"></use></svg>
                    <span class="business-type__item-title">Островок в ТЦ</span>
                </div> </div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--alco"><use xlink:href="#martini"></use></svg>
                    <span class="business-type__item-title">Торговля крепким <br>алгоколем</span>
                </div> </div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--online"><use xlink:href="#hand"></use></svg>
                    <span class="business-type__item-title">Интернет-<br>магазин</span>
                </div> </div>
            </a>
        </li>
        <li class="business-type__item">
            <a href="link" class="business-type__item-label">
                <div class="business-type__item-overlay">
                   <div class="business-type__item-overlay-td">
                    <svg class="business-type__item-icon business-type__item-icon--other"><use xlink:href="#infinity"></use></svg>
                    <span class="business-type__item-title">Другое</span>
                </div> </div>
            </a>
        </li>
    </ul>
</div>