.home-slider { 
    //overflow: hidden;
    .home-slider__item:nth-child(n+1) {
        display: none;
    }

    &.slick-initialized .home-slider__item:nth-child(n+1),
    .home-slider__item:first-child { 
        display: block;
    }

    &__wrapper {
        padding: 33px 0 80px;
        @include b(1150) {
           padding: 0 0 40px;
        }
        @include b(767) {
           padding: 0 0 78px;
        }
    }
    &__item {
        padding: 0 70px 0 80px;
        outline: none;
        &-wrapper {
            display: table;
        }
        @include b(1150) {
           padding: 0 45px;
        }
        @include b(767) {
           padding: 15px 0 0;
        }
    }
    &__left {
        max-width: 50%;
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 45px;
        @include b(1150) {
            top: 0;
            padding-bottom: 0;       
        }
        @include b(991) {
           //padding-top: 0;
        }
        @include b(767) {
            display: table-footer-group;
            width: 100%;
        }
        
    }
     &__right {
         position: relative;
         display: table-cell;
         text-align: right;
         vertical-align: top;
         //max-height: 487px;
         @include b(1150) {
             width: 50%;
         }
         @include b(767) {
             display: table-header-group;
             width: 100%;
             text-align: center;
        }
    }
    &__img {
        @include b(1150) {
            display: inline-block;
            img {
                width: 100%;
                @include b(767) {
                    margin: 0 0 20px;
                 }
            }
        }
        @include b(767) {
            width: 61%;
            position: relative;
            //margin: 0 40px 0 0;
        }
    }
    &__title {
        padding: 0 0 27px;
        display: block;
        margin: 0 -20px 0 0;
        @include b(1150) {
            margin: 0;
        }
        @include b(767) {
           padding: 0 0 12px;
        }
    }
    &__text {
        padding: 0 10px 50px 0;
        @include b(767) {
            padding: 0 0 20px 0;
        }
    }
    &__link {
        width: auto!important;
        display: inline-block;
        @include b(767) {
            transform: translateX(-50%);
            left: 50%;
        }
    }
    &__caption {
        position: absolute;
        top: 335px;
        right: 5px;
        font-size: 18px;
        font-weight: 500;
        @include b(991) {
            top: 265px;
            right: 0;
         }
        @include b(767) {
            top: auto;
            bottom: 18px;
            font-size: 12px;
            right: -30px;
        }
    }
    .slick-dots {
        top: auto;
        bottom: 70px;
        padding: 0 75px 0 0;
        text-align: right;
        li {
            width: 8px;
            height: 8px;
            &.slick-active {
                button {
                    background: $orange;
                }
            }
        }
        button {
            width: 8px;
            height: 8px;
            background: $light-gray;
            opacity: 1;
            font-size: 0;
            padding: 0;
            &:hover {
                background: $orange;
            }
        }
        @include b(1150) {
          bottom: 0;
        }
        @include b(767) {
            top: auto;
            bottom: -40px;
            padding: 0;
            text-align: center;
        }
        
    }
}

.business-type {
    text-align: center;
    .fancybox-close-small {
        display: none;
    }
    &__title {
        padding: 0 0 5px;
        @include b(767) {
            padding: 0 0 5px;
            font-size: 18px;
        }
    }
    &__text {
        opacity: 0.5;
        padding: 0 0 15px;
        @include b(767) {
            padding: 0 0 15px;
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__list {
        font-size: 0;
        list-style-type: none;
        margin: 0 auto 10px;
        padding: 0;
        width: 471px;
        @include b(767) {
            width: auto;
        }
    }
    &__item {
        display: inline-block;
        width: calc(33.3% - 2px);
        margin: 0 1px 2px 1px;
        vertical-align: top;
        &:nth-child(3n) {
            margin: 0 0 1px 1px;
            @include b(767) {
                margin: 0 1px 1px 0;
            }
        }
        &:nth-child(2n) {
            @include b(767) {
                margin: 0 0 1px 1px;
            }
        }
        &:last-child {
            .business-type__item-label{
                @include b(767) { 
                    width: 100%!important;
                    height: 85px;
                }
            }
            .business-type__item-img {
               @include b(767) { 
                   width: 100%;
                   height: 100%;
               }
            }
            .business-type__item-icon {
                @include b(767) {
                    margin: 0 auto;
                }
            }
            @include b(767) {
                margin: 0 0 2px 0;
                width: 100%;
                height: 85px;
            }
        }
        &-label {
            display: block;
            position: relative;
            padding: 0!important;
            margin: 0!important;
            border-radius: 7px;
            height: 154px;
            width: 100% !important;
            background: #f9f9f9;
            @extend .transition;
            &:after, &:before {
                display: none;
            }
            &:hover {background: $orange; color: $white;
                .business-type__item-icon {
                    fill: $white;
                }
                .business-type__item-title {
                    color: $white;
                }
              img {
                 opacity: 0.4;
                }  
            }
            @include b(767) {
                border-radius: 4px;
                height: 120px;
            }
        }
        input[type="radio"]:checked + label{
            background: $orange;
            img {
                opacity: 0.4;
              //mix-blend-mode: hard-light; 
            }
        }
        &-img {
           max-width: 100%; 
           border-radius: 7px;
           //mix-blend-mode: color-dodge;
           opacity: 0.25;
           @extend .transition; 
            &--mobile {
                display: none;
                @include b(767) {
                    display: inline-block;
                }
            } 
            &--desktop {
                display: inline-block;
                @include b(767) {
                    display: none;
                }
            }
            @include b(767) {
                border-radius: 4px;
            }
        }
        &-overlay {
            display: table;
            width:100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            bottom: 5px;
            &-td {
               display: table-cell;
                vertical-align: bottom;
            }
        }
        &-title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            color: $deep-blue;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            font-weight: 500;
            padding: 0 7px 12px;
            min-height: 44px;
            @include b(767) {
                font-size: 14px;
                line-height: 16px;
                min-height: 32px;
                padding-bottom: 0;
                font-weight: 300;
            }
        }
        &-icon {
            fill: $orange;
            width: 54px;
            height: 47px;
            margin: 0 auto 20px;
            &--bar {
                height: 38px;
                margin: 0 auto 26px;  
            }
            &--retail {
                margin: 0 auto -6px;
                width: 102px;
                height: 110px;
                @include b(767) {
                    margin-bottom: -20px !important;
                }
            }
            &--coffee {
                width: 32px;
                height: 40px;
                margin: 0 auto 25px;  
            }
            &--trade {
                height: 38px;
                margin: 0 auto 26px;  
            }
            &--bus {
                width: 32px;
                margin: 0 auto 25px;
                height: 35px; 
            }
            &--island {
                width: 33px;  
            }
            &--alco {
                width: 33px;  
                @include b(767) {
                    & + .business-type__item-title br {display: none;}
                }
            }
            &--bar {
                height: 38px;
                margin: 0 auto 26px;  
            }
            &--online {
                @include b(767) {
                    // & + .business-type__item-title br {display: none;}
                }
            }
            @include b(767) {
                margin: 0 auto 15px;  
            }
            
        }
        @include b(767) {
            width: calc(50% - 2px);
        }
    }
    &__submit {
        //text-transform: none;
        //font-size: 16px;
        //padding: 6px 32px;
        display: inline-block;
        width: auto;
        margin: 0 auto;
        @include b(767) {
            //font-size: 13px;
            //padding: 7px 27px;
        }
    }
}

.popup {font-family: "Museo-Sans", Verdana;}