<section class="home-slider__wrapper">
   <div class="container">
    <div class="home-slider js-home-slider">
        <div class="home-slider__item">
            <div class="home-slider__item-wrapper">
                <div class="home-slider__left">
                    <h1 class="h1 home-slider__title">Онлайн-касса, которая настроится под ваш бизнес</h1>
                    <p class="home-slider__text">Эвотор 7.3 — это не просто касса, а полный набор инструментов 
                        для предпринимателя: кассовый терминал для торговли, личный 
                        кабинет для контроля продаж и сотрудников, магазин приложений 
                        для расширения функционала.</p>
                    <a href="#" data-fancybox data-src="#business-type" class="btn home-slider__link js-popup-link">Купить онлайн-кассу</a>
                </div>
                <div class="home-slider__right">
                    <div class="home-slider__img">
                        <img src="pic/home-slider/home-slider1.png" alt="Эвотор 7.3" />
                        <p class="home-slider__caption">Эвотор 7.3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slider__item">
            <div class="home-slider__item-wrapper">
                <div class="home-slider__left">
                    <span class="h1 home-slider__title">Онлайн-касса, которая настроится под ваш бизнес</span>
                    <p class="home-slider__text">Эвотор 7.3 — это не просто касса, а полный набор инструментов 
                        для предпринимателя: кассовый терминал для торговли.</p>
                     <a href="#" data-fancybox data-src="#business-type" class="btn home-slider__link js-popup-link">Купить онлайн-кассу</a>
                </div>
                <div class="home-slider__right">
                    <div class="home-slider__img">
                        <img src="pic/home-slider/home-slider2.png" alt="Эвотор 7.3" />
                        <p class="home-slider__caption">Эвотор 7.3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slider__item">
            <div class="home-slider__item-wrapper">
                <div class="home-slider__left">
                    <span class="h1 home-slider__title">Онлайн-касса, которая настроится под ваш бизнес</span>
                    <p class="home-slider__text">Эвотор 7.3 — это не просто касса, а полный набор инструментов 
                        для предпринимателя: кассовый терминал для торговли, личный 
                        кабинет для контроля продаж и сотрудников, магазин приложений 
                        для расширения функционала. </p>
                     <a href="#" data-fancybox data-src="#business-type" class="btn home-slider__link js-popup-link">Купить онлайн-кассу</a>
                </div>
                <div class="home-slider__right">
                    <div class="home-slider__img">
                        <img src="pic/home-slider/home-slider1.png" alt="Эвотор 7.3" />
                        <p class="home-slider__caption">Эвотор 7.3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>