.aside {
	padding: 50px 0 0 0;
	border-right: 2px solid #f1f3f5;
	&__list {
		list-style: none;
		&-item {
			padding: 0 0 38px 0;
		}
		&-link {
			display: block;
			padding: 0 20px 0 64px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 500;
			text-transform: uppercase;
			color: $mainFontColor;
			@include clearfix;
			&:hover {
				color: $orange;
			}
			[class*="icon-"] {
				float: left;
				margin: 0 0 0 -30px;
			}
		}
	}
	&__sublist {
		padding: 22px 0 0 64px;;
		list-style: none;
		margin: 0 0 -10px 0;
		&-item {
			padding: 0 0 15px 0;
			font-size: 18px;
			line-height: 20px;
			font-weight: 500;
		}
		&-link {
			color: $mainFontColor;
			&:hover {
				color: $orange;
			}
		}
	}
}

.admin {
	&__title {
		display: block;
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
		padding: 0 0 40px 0;
	}
}

.admin-orders {
	max-width: 720px;
	padding: 0 0 40px 0;
	&__table {
		width: 100%;
		th {
			padding: 5px 10px 13px 18px;
		}
		th, td {
			border-left: 1px solid #edeff0;
			&:first-child {
				border-left: none;
			}
		}
		td {
			padding: 8px 10px 8px 18px;
			a {
				color: $mainFontColor;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&-row {
			&--passed {
				td {
					color: rgba($mainFontColor, .5);
					&:last-child {
						font-weight: 700;
					}
					a {
						color: rgba($mainFontColor, .5);
					}
				}
			}
			&--active {
				td {
					background: #f4f4f5;
				}
			}
		}
	}
}

.admin {
	&__cols {
		@include clearfix;
		margin: 0 -10px;;
		
	}
	&__col {
		float: left;
		padding: 0 10px;
		&--lg {
			width: 55%;
			
		}
		&--sm {
			width: 45%;
		}
		&-card {
			padding: 20px 30px 22px;;
			border-radius: 5px;
			box-shadow: 0 20px 64px rgba($mainFontColor, .4);
			&-title {
				display: block;
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;
				padding: 0 0 8px 0;
			}
		}
		&-text {
			display: block;
			font-size: 14px;
			line-height: 24px;
			a {
				color: $mainFontColor;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.admin-status-bar {
	@include clearfix;
	padding: 10px 0 20px 0;
	&__item {
		width: 27%;
		float: left;
		padding: 0 20px 0 0;
		font-size: 14px;
		line-height: 16px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 13px;
			left: 0;
			height: 3px;
			background: $mainFontColor;
			right: 0;
			z-index: 1;
		}
		&:last-child {
			width: 19%;
			&:before {
				display: none;
			}
		}
		&.passed {
			color: rgba($mainFontColor, .4);
			& + .admin-status-bar__item:not(.passed) {
				font-weight: 700;
				.admin-status-bar__icon {
					&:before {
						width: 28px;
						height: 28px;
						top: 0;
						margin: 0;
						background: $white;
						border: 4px solid $mainFontColor;
					}
				}
			}
			&:before {
				background: linear-gradient(to right, rgba(253,79,0,1) 50%,rgba(51,63,72,1) 100%);
			}
			.admin-status-bar {
				
				&__icon {
					&:before {
						width: 28px;
						height: 28px;
						top: 0;
						margin: 0;
						background: $orange;
						
					}
					&:after {
						content: '';
						display: block;
						width: 10px;
						height: 15px;
						margin: -9px 0 0 -6px;
						border-bottom: 3px solid $white;
						border-right: 3px solid $white;
						transform: rotate(45deg);
						position: absolute;
						top: 50%;
						left: 50%;
					}
				}
			}
		}
	}
	&__icon {
		display: block;
		width: 28px;
		height: 28px;
		position: relative;
		z-index: 2;
		margin: 0 0 10px 0;;
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: $mainFontColor;
			border-radius: 50%;
			position: absolute;
			top: 50%;left: 0;
			margin: -8px 0 0 0;
		}
	}
}

.admin-manag {
	@include clearfix;
	padding: 10px 0 20px 100px;
	
	&__img {
		width: 80px;
		float: left;
		margin: 0 0 0 -100px;
		img {
			display: block;
			width: 100%;
		}
	}
	&__content {
		float: left;
		width: 100%;
		
	}
	&__title {
		display: block;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		padding: 0 0 18px 0;
	}
	&__text {
		display: block;
		font-size: 14px;
		line-height: 24px;
	}
}