.basket-related {
    width: 700px;
    margin: 0 auto 25px;
    &__title{
        padding: 0 0 32px;
        text-align: center;
        font-size: 23px;
        @include b(767) {
           font-size: 12px;
            line-height: 15px;
           padding: 0 0 15px;
        }
    }
    &__list {

    }
    @include b(767) {
       font-size: 18px;
       width: 100%;
       font-weight: 300;
    }
}