.header {
    padding: 30px 0 25px; 
    font-size: 0;
	@include clearfix;
    position: relative;
	&--admin {
		background: $orange;
		padding: 26px 0 21px;
		.header__left {
			padding: 0 0 0 30px;
		}
		.header-nav {
			&__link {
				color: $white;
				font-weight: 700;
				&:hover {
					color: $mainFontColor;
				}
			}
		}
	}
	&__account {
		display: inline-block;
		font-size: 14px;
		line-height: 24px;
		color: $white;
		vertical-align: middle;
		font-weight: 500;
		padding: 0 20px 0 0; 
		position: relative;
		&:before {
			content: '';
			display: block;
			border-top: 6px solid $white;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			position: absolute;
			top: 50%;
			right: 0;
			margin: -3px 0 0 0;
		}
		[class*="icon-"] {
			fill: $white;
			margin: 0 5px 0 0;
		}
	}
    &__left {
        width: 318px;
        display: inline-block;
        vertical-align: top;
        @include b(991) {
          width: 100%;
          text-align: center;
          padding: 0 0 15px;
        }
        @include b(767) {
            padding: 0 0 10px;
        }
    }
    &__hamburger {
        display: none;
        @include b(767) {
           display: inline-block;
           position: absolute; 
           top: 5px;
           right: 12px;
            .hamburger {
                padding: 0;
                width: 23px;
                height: 16px;
                &:active, &:focus {
                    opacity: 1;
                }
            }
            .hamburger-box {
                width: 23px;
                height: 16px;
            }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                width: 23px;
                height: 2px;
                background-color: $orange;
                border-radius: 5px;
            }
            .hamburger-inner {
                top:2px;
                &:before {
                   top: 6px; 
                }
                &:after {
                    top: 12px;
                }
            }
            .hamburger--slider.is-active .hamburger-inner::after {
                transform: translate3d(0, -12px, 0) rotate(-90deg);
            }
        }
    }
    &__logo {
        float: left;
        max-width: 180px;
        img {
            width: 100%;
        }
        @include b(991) {
          float: none;
          display: inline-block;
          vertical-align: middle;
        }
        @include b(767) {
            max-width: 135px;
        }
    }
    &__phone {
        opacity: 0.5;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 0 0 12px;
        line-height: 32px;
        font-weight: 500;
        color: $mainFontColor;
        &:hover, &:active, &:focus {
            opacity: 1;
        }
        @include b(991) {
          display: inline-block;
          vertical-align: middle;
        }
        @include b(767) {
           display: none;
        }
    }
    &__right {
        width: calc(100% - 318px);
        display: inline-block;
        text-align: right;
        //@extend .transition;
        @include b(991) {
            width: 100%;
            display: inline-block;
            text-align: center;
        }
        @include b(767) {
            display: none;
            width: 100%;
            //overflow: hidden;
            //position: absolute;
            //left:0;
            
            /*&.active {
                width: 100%;
            }*/
        }
    }
    &-nav {
        display: inline-block;
        vertical-align: middle;
        &__list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &__item {
          display: inline-block;
          margin: 0 25px 0 0;
          text-transform: uppercase; 
            @include b(1150) {
                 margin: 0 15px 0 0;
            }
            @include b(767) {
                margin: 0;
                padding: 5px 0;
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
        &__link {
            font-size: 12px;
            text-transform: uppercase; 
            display: inline-block;
            color: $mainFontColor;
            font-weight: 500;
            @extend .transition;
            line-height: 32px;
            &:hover, &:focus, &:active {
                color: $orange;
            }
        }
        @include b(767) {
            width: 100%;
            padding: 20px 0 10px;
        }
    }
    &__account-link {
        display: inline-block;
        margin: -3px 0 0 10px;
        width: auto;
        @include b(1150) {
            margin: -3px 0 0 0;
        }
        @include b(767) {
            margin: 8px 0 0;
        }
    }
    @include b(767) {
        padding: 30px 0 13px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    }
}

