<header class="header">
    <div class="container">
        <div class="header__left">
            <a href="#" class="header__logo">
                <img src="img/logo2.png" />
            </a>
            <a href="tel:+74959334451" class="header__phone">+7 (495) 933-44-51</a>
        </div>
        <div class="header__hamburger">
                <button class="hamburger hamburger--slider js-hamburger" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
            </div>
        <div class="header__right js-nav">      
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item"><a href="#" class="header-nav__link">СМАРТ-ТЕРМИНАЛЫ </a></li>        
                    <li class="header-nav__item"><a href="#" class="header-nav__link">ПОДДЕРЖКА</a></li>         
                    <li class="header-nav__item"><a href="#" class="header-nav__link">54-ФЗ</a></li>         
                    <li class="header-nav__item"><a href="#" class="header-nav__link">ПРИЛОЖЕНИЯ</a></li>         
                    <li class="header-nav__item"><a href="#" class="header-nav__link">ГДЕ КУПИТЬ</a></li>
                </ul>
            </nav>
            <a href="#" class="btn btn-white btn--sm header__account-link">ЛИЧНЫЙ КАБИНЕТ</a>
        </div>
	</div>
</header>
