<header class="header header--admin">
    <div class="container">
        <div class="header__left">
            <a href="#" class="header__logo">
                <img src="img/logo-invert.png" />
            </a>
        </div>
        <div class="header__hamburger">
                <button class="hamburger hamburger--slider js-hamburger" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
            </div>
        <div class="header__right js-nav">      
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item"><a href="#" class="header-nav__link">Магазин приложений</a></li>        
                    <li class="header-nav__item"><a href="#" class="header-nav__link">Мои приложения </a></li>         
                    <li class="header-nav__item"><a href="#" class="header-nav__link">Оплата</a></li>
                </ul>
            </nav>
            <a href="#" class="header__account">
            	<svg class="icon-user"><use xlink:href="#user"></use></svg>
            	+7 915 357-88-71
            </a>
        </div>
	</div>
</header>
