
<footer class="footer">

@@include('src/modules/cart-panel/cart-panel.html')
	<div class="footer__inner">
		<div class="container">
         <div class="row footer__row">
	        <div class="col-xs-6 col-md-3">
                <div class="footer__col">
                   <p class="footer__title">Терминалы</p>
                    <ul class="footer__list">
                       <li class="footer__list-item"><a href="#" class="footer__list-link">Смарт-терминалы</a></li>
                       <li class="footer__list-item"><a href="#" class="footer__list-link">54-ФЗ</a></li>
                       <li class="footer__list-item"><a href="#" class="footer__list-link">Где купить</a></li>
                    </ul>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-3">
                <div class="footer__col">
                   <p class="footer__title">Компания</p>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__list-link">О нас</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Бренд</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Новости</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Карьера</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Контакты</a></li>
                    </ul>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-3">
                <div class="footer__col footer__col--left">
                   <p class="footer__title">Поддержка</p>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Справка</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Главные вопросы</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Обучающие материалы</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Сервис партнеры</a></li>
                    </ul>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-3">
                <div class="footer__col">
                   <p class="footer__title">Разработчикам приложений</p>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Разработка</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Продажа</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">FAQ</a></li>
                    </ul>
	            </div>
	        </div>
         </div>
        <div class="row">
	        <div class="col-xs-12">
	                <ul class="footer__social">
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon"><use xlink:href="#instagram"></use></svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon"><use xlink:href="#youtube"></use></svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon"><use xlink:href="#vkontakte"></use></svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon"><use xlink:href="#ok"></use></svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon"><use xlink:href="#facebook"></use></svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon"><use xlink:href="#twitter"></use></svg>
                            </a>
                        </li>
                    </ul>
	        </div>
            <div class="col-xs-12">
                <ul class="footer__copyright">
                    <li class="footer__copyright-item">© Эвотор 2017</li>          
                    <li class="footer__copyright-item"><a href="mailto:info@evotor.ru">info@evotor.ru</a></li>             
                     <li class="footer__copyright-item"><a href="tel:+74959334451">+7 (495) 933-44-51</a></li>
                    <li class="footer__copyright-item"><a href="#">Оферта</a></li>
                </ul>
            </div>
	    </div>
	</div>
	</div>
	
</footer>
@@include('src/modules/catalog-block/form-popup.html')
@@include('src/modules/catalog-block/prod-popup.html')
@@include('src/modules/home-slider/business-type-popup.html')