.footer {
	
    &__row {
        padding: 0 10px 0 40px;
        @include b(991) {
           padding: 0;
        }
    }
	&__inner {
		background: $deep-blue;
		padding: 57px 0 35px;
         @include b(767) {
            padding: 35px 0 35px;
        }
	}
    &__col {
        margin: 0 auto;
        max-width: 160px;
        &--left {
            margin: 0 0 0 10px;
        }
        @include b(991) {
           max-width: 100%;
           margin: 0!important;
        }
        @include b(767) {
           padding: 0 0 15px;
        }
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        &-link {
            color: $gray-blue;
            padding: 0 0 12px;
            line-height: 24px;
            @extend .transition;
            display: block;
            &:hover, &:focus, &:active {
                color: $white;
            }
            @include b(767) {
               padding: 0 0 5px;
                line-height: 20px;
            }
        }
    }
    &__title {
        font-weight: 500;
        color: $white;
        font-size: 18px;
        padding: 0 0 13px;
        line-height: 23px;
        @include b(767) {
           font-size: 12px;
            padding: 0;
        }
        
    }
    &__social {
        text-align: center;
        padding: 35px 0 21px;
        list-style-type: none;
        margin: 0;
        &-item {
            width: 44px;
            height: 44px;
            display: inline-block;
            margin: 0 15px 0 0;
            &:last-child {
                margin: 0;
            }
            @include b(767) {
                width: 27%;
                margin: 0 0 32px;
            }
        }
        &-link {
            width: 44px;
            height: 44px;
            display: inline-block;
            text-align: center;
            line-height: 63px;
            background: #6c7f8d;
            border-radius: 28px;
            &:hover {
                background: #fff;
            }
            @include b(767) {
               width: 50px;
               height: 50px;
               line-height: 77px;
            }
        }
         &-icon {
             fill: $deep-blue;
             width: 25px;
             height: 28px;
             display: inline-block;
             @include b(767) {
                 width: 28px;
                 height: 28px;
             }
        }
        @include b(767) {
            font-size: 0;
            padding: 0 0 8px;
            
        }
    }
    &__copyright {
        text-align: center;
        padding:0;
        list-style-type: none;
        margin: 0;
        &-item {
            display: inline-block;
            margin: 0 28px 0 0; 
            color: $gray-blue2;
            a {
               color: inherit;
                &:hover {
                   color: $white;
                }
            }
            &:last-child {
                margin: 0;
            }
            @include b(767) {
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
   
}